<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">GUIAS</h3>
  </div>
  <br>

  <div class="interna-conteudo">
    <p>
      <b>Diego Santana - Condutor de Ecoturismo e Aventura.</b>
      <br>
      <br>
      Nascido em São Francisco de Paula RS. No ano de 2002 foi morar em Cambará do Sul RS.
      Desde de muito novo já gostava da região dos Aparados da Serra, logo então começou a explorar a região, e ai a vontade de ser um guia de turismo de aventura. Formado como guia de Ecoturismo e Turismo de Aventura pelo Programa Aventura Segura, baseado na norma NBR-ABNT 15.285, tendo diversos outros cursos como primeiros socorros, sobrevivência navegação, geologia local ,fauna ,flora entre outros. Credenciado nos Parques Nacionais de Aparados da Serra e Serra Geral, dominando também a Região central de Aparados da Serra.
    </p>
  </div>  

  <div id="demo" class="carrosel-parceiros">
    <div class="span12">
      <div id="corrosel-interna" class="owl-carousel">

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>
          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

      </div>
    </div>
  </div>

</div>

<br>
<br>