<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">100% SINCERO</h3>
  </div>
  <br>

  <div class="interna-conteudo">
    
<!-- %while% -->
      <figure class="snip1493">

        <div class="image">
<!-- %foto% -->
          <img src="/{%foto%}" alt="{%nome%}" />
        </div>
        
        <figcaption>

          
<!-- %dados% -->
          <h3>{%nome%}</h3>
          <p>
           {%descricao%}
          </p>
          <footer>

          </footer>
        </figcaption>
        <a href="/{%link%}" alt="{%nome%}"></a>
      </figure>
      
<!-- %fim% -->
    
  </div>  


</div>

<br>
<br>
