<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">GUIAS</h3>
  </div>
  <br>

  <div class="interna-conteudo">
    <div class="row">

        <div class="col-md-3">
          <figure class="snip0046 yellow">
            <img src="../img/guia-01.jpg" alt="sample47"/>
            <h3>Diego Santana</h3>
            <div class="icons">
              <a href="/guias-int"><i class="ion-social-googleplus">» Conhecer</i></a>
            </div>
          </figure>
        </div>

      <div class="col-md-3">
        <figure class="snip0046 yellow">
          <img src="../img/guia-02.jpg" alt="sample21"/>
          <h3>Eduardo de Souza Bernardino</h3>
          <div class="icons">
            <a href="/guias-int"><i class="ion-social-googleplus">» Conhecer</i></a>
          </div>
        </figure>
      </div>

      <div class="col-md-3">
        <figure class="snip0046 yellow">
          <img src="../img/guia-03.jpg" alt="sample17"/>
          <h3>Gerson Patrício</h3>
          <div class="icons">
            <a href="/guias-int"><i class="ion-social-googleplus">» Conhecer</i></a>
          </div>
        </figure>
      </div>

      <div class="col-md-3">
        <figure class="snip0046 yellow">
          <img src="../img/guia-04.jpg" alt="sample17"/>
          <h3>Max Nazario</h3>
          <div class="icons">
            <a href="/guias-int"><i class="ion-social-googleplus">» Conhecer</i></a>
          </div>
        </figure>
      </div>

    </div>
  </div>

</div>

<br>
<br>