<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">{%nome%}</h3>
  </div>
  <br>

  <div class="interna-conteudo">
     <p>
    {%descricao%}
    </p>
  </div>  

   <div id="demo" class="carrosel-parceiros">
    <div class="span12">
<!-- %foto% -->
      <div id="corrosel-interna" class="owl-carousel">
<!-- %while% -->
        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="/{%link%}" data-title="{%nome%}" title="{%nome%}">
            <img src="/{%foto%}" class="img-responsive example-image" alt="{%nome%}" title="{%nome%}">
          </a>
        </div>
<!-- %fim_while% -->
        

      </div>
    </div>
  </div>
<!-- %fim% -->
</div>

<br>
<br>