<!-- %inicio% -->

					<div class="agrupaContInterna">
						<div class="agrupaTituloInterna">
							<p class="tituloInterna tituloAzul">Guias / Instrutores</p>
						</div>
<!-- %while% -->
						<div class="agrupaOpcoesInterna">
<!-- %foto% -->
							<a href="/{%link%}" class="imgOpcoesInterna">
								<img src="/{%foto%}" alt="" class="name" />
							</a>
<!-- %dados% -->
							<div class="agrupaTxtInterna">
								<h2><a href="/{%link%}">{%nome%}</a></h2>
								{%descricao%}
							</div>
						</div>
<!-- %fim% -->
					</div>	
					
					