<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Sobre o Aparados da Serra</h2>
	</div>
</div>
<br><br>
<div class="conteudo-interna">
	<div class="container">
		<p>
		{%ds_sobre_aparados%}

		</p>
	</div>
</div>
<br><br>


<div class="galeria-paginas-interna">
  <div class="container-fluid">
<!-- %while% -->  
    <div class="col-md-3" style="margin-bottom:40px;">
      <a href="{%link%}" rel="lightbox1" alt="{%tt_foto%}" title="{%tt_foto%}">
        <img class="img-responsive" src="{%foto%}" alt="{%tt_foto%}" title="{%tt_foto%}">
      </a>
    </div>
<!-- %fim% -->    
  </div>
</div>

<br><br>