<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Aparados da Serra Turismo</h2>
	</div>
</div>

<div class="conteudo-interna">
	<div class="container lista-onde-ficar">

		<div class="row titulo-lista-onde-ficar">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-6">

			</div>
		</div>

<!-- %while% -->
		<div class="col-md-4 dividir-conteudo-interna">
			
<!-- %foto% -->
			<a href="/{%link%}"><img src="/{%foto%}" alt="{%titulo%}" title="{%titulo%}">
<!-- %dados% -->
			<h5>{%titulo%}</h5>
			<P>
				{%descricao%}
			</P>
			</a>
			<br>
			<a href="/{%link%}">VER MAIS</a>
		</div>
<!-- %fim% -->
	</div>

</div>
		