<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Produtos</h2>
	</div>
</div>

<div class="conteudo-interna">
	<div class="container lista-onde-ficar">

		<div class="row titulo-lista-onde-ficar">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-6">
				
			</div>
		</div>

<!-- %while% -->
		<div class="col-md-4 dividir-conteudo-interna">
			<a href="{%link%}" title="{%titulo%}">
			<img src="/{%foto%}" alt="{%titulo%}" title="{%titulo%}">
			<h5>{%titulo%}</h5>
			<P>
				{%descricao%}
			</P>
			</a>
			<br>
			<a href="{%link%}">VER MAIS</a>
		</div>
<!-- %fim_while_while% -->		
	</div>
</div>	
<!-- %fim% -->
					