<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Trekking e Travessias</h2>
	</div>
</div>
<br><br>
<div class="conteudo-interna">
	<div class="container">
		<p>
		{%ds_trekkings%}
		</p>
	</div>
</div>
<br><br>

<div class="galeria-paginas-interna">
	<div class="container-fluid">
<!-- %while% -->	
		<div class="col-md-3" style="margin-bottom:40px;">
			<a href="{%link%}" rel="lightbox1" alt="Trekking e Travessias nos Aparados da Serra" title="Trekking e Travessias nos Aparados da Serra">
				<img class="img-responsive" src="{%foto%}" alt="Trekking e Travessias nos Aparados da Serra" title="Trekking e Travessias nos Aparados da Serra">
			</a>
		</div>
<!-- %fim% -->		
	</div>
</div>

<br><br>