<!-- %inicio% -->
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="/slider/slidify.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/slider/jquery-slidify.js"></script>

<!-- <script type="text/javascript" src="/slider/scripts-sl.js"></script> -->

<script type="text/javascript" src="js/cycle.js"></script>


    <link href="../carousel/custom.css" rel="stylesheet">
    <link href="../carousel/owl.carousel.css" rel="stylesheet">
    <link href="../carousel/owl.theme.css" rel="stylesheet">

    <script src="../carousel/owl.carousel.js"></script>

	<script type="text/javascript" src="/jscript/jquery.bxslider.min.js"></script>

    <style>
    #owl-demo .item{
        margin: 3px;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    .bx-controls {
    	display: none;
    }
    .twitter-timeline {
    width: 100vw !important;
}
    </style>


    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
    </script>

	<script type="text/javascript">

		$(document).ready(function() {
		    $('.bxslider').bxSlider({
				mode: 'fade',
	            auto: true
			});
		});

	</script>


<script>
// $(document).ready(function(){

// $( "#myslider" ).slidify({
//     width:'1600',
//     height:'680',
//     activeslide:1,
//     activeClass:'iamcurrent',       

//     fx: 'fade',
//     speed: 10000,
//     timeout: 50000,
//     theme:'black',
//     responsive:true,
// });
// });
// </script>

 <script>
// $(document).ready(function(){
// $( "#mysliderpubli" ).slidify({
//     width:'1600',
//     height:'680',
//     activeslide:1,
//     activeClass:'iamcurrent',       
//     fadeingSpeed:2000,
//     theme:'black',
//     responsive:true
// });
// });
// </script>




<script type="text/javascript">
	$(document).ready(function() {
		$('.Slides ul').cycle({
			fx: 'fade',
			speed: 2000,
			timeout: 3000
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('.banner-publicidade ul').cycle({
			fx: 'fade',
			speed: 2000,
			timeout: 5000
		});
	});
</script>



<div class="slider-principal" >
	<!-- <img src="../img/fundo-slider.jpg"> -->

	<div class="Slides">
		<ul>
		<li><img class="img-responsive" src="../img/fundo-slider.jpg"/></li>
		<li><img class="img-responsive" src="../img/fundo-slider-1.jpg"/></li>
		<li><img class="img-responsive" src="../img/fundo-slider-2.jpg"/></li>
		<li><img class="img-responsive" src="../img/fundo-slider-3.jpg"/></li>
		</ul>
	</div>

</div>


<div class="menu-2">
	<div class="container">
		<div class="agrupaBusca">
			<form action="/formBusca/" method="GET">
				<input type="text" name="key" placeholder="Buscar no site" class="inputBusca"/>
				<input type="image" src="./imagens/btOk.jpg" class="botaoOk"/>
			</form>
		</div>
	</div>

	<div class="agrupa-menu">

		<div class="col-md-12">

			<div class="box-menu-2">
				<a href="/onde-ficar/3/cambara-do-sul">
				<img src="../imagens/box-menu-2/onde-ficar.jpg" alt="Onde Ficar Guia Aparados da Serra" title="Onde Ficar / Guia Aparados da Serra">
				</a>
			</div>

			<div class="box-menu-2">
				<a href="/onde-comer/3/cambara-do-sul">
				<img src="../imagens/box-menu-2/onde-comer.jpg" alt="Onde Comer Guia Aparados da Serra" title="Onde Comer / Guia Aparados da Serra">
				</a>
			</div>

			<div class="box-menu-2">
				<a href="/agencias-guias/3/cambara-do-sul">
				<img src="../imagens/box-menu-2/agencias-guias.jpg" alt="Agências Guias / Guia Aparados da Serra" title="Agências Guias / Guia Aparados da Serra">
				</a>
			</div>

			<!-- <div class="box-menu-2">
				<a href="https://reservas.guiaaparados.com/ ">
				<img src="../imagens/box-menu-2/arroiocapa.jpg" alt="Compras e Serviços / Guia Aparados da Serra" title="Compras e Serviços / Guia Aparados da Serra">
				</a>
			</div> -->

			<!-- <div class="box-menu-2">
				<a href="/mapas-como-chegar">
				<img src="../imagens/box-menu-2/mapas-como-chegar.jpg" alt="Mapas Como Chegar / Guia Aparados da Serra" title="Mapas Como Chegar / Guia Aparados da Serra">
				</a>
			</div> -->

			<div class="box-menu-2">
				<a href="/parques-nacionais">
				<img src="../imagens/box-menu-2/parques-nacionais.jpg" alt="Parques Nacionais / Guia Aparados da Serra" title="Parques Nacionais / Guia Aparados da Serra">
				</a>
			</div>

			<div class="box-menu-2">
				<a href="/as-cidades">
				<img src="../imagens/box-menu-2/as-cidades.jpg" alt="As Cidades / Guia Aparados da Serra" title="As Cidades / Guia Aparados da Serra">
				</a>
			</div>

		</div>

	</div>

	<div class="agrupa-menu-lista">
		<div class="container">
			<ul>
				<li><a href="/onde-ficar/3/cambara-do-sul">» Onde Ficar</a></li>
				<li><a href="/onde-comer/3/cambara-do-sul">» Onde Comer</a></li>
				<li><a href="/agencias-guias/3/cambara-do-sul">» Agências Guias</a></li>
				<li><a href="/compras-e-servicos/3/cambara-do-sul">» Compras Serviços</a></li>
				<!-- <li><a href="/mapas-como-chegar">» Mapa Como Chegar</a></li> -->
				<li><a href="/parques-nacionais">» Parques Nacionais</a></li>
				<li><a href="/as-cidades">» As Cidades</a></li>
			</ul>
		</div>
	</div>

</div>

<div class="container">

	<div class="conteudo">


		<div class="col-md-8">

			<div class="publicidade-capa">
				<p></p>
				<div class="banner-publicidade">
						<!-- <img src="../imagens/banner-publique.jpg"> -->
						<ul>
<!-- %home_slider% -->
						<li><a href="{%link%}"><img class="img-responsive" src="{%img_destaque%}" alt="Aparados da Serra" title="Aparados da Serra" /></a></li>
<!-- %end_home_slider% -->
						</ul>			
				</div>
			</div>
			<br>

			<style type="text/css">
				.parceiros-capa {
					width: 730px;
				    height: 175px;
				    display: block;
				    clear: both;

				}
			</style>

			<!-- <div class="parceiros-capa"> -->

					<!-- <div class="box-parceiros">
						<a href="http://adventure.guiaaparadosdaserra.com.br">
							<img src="../imagens/parceiros/parceiro-1.jpg" alt="Guia Aparados da Serra" title="Guia Aparados da Serra">
						</a>
					</div> -->
<!-- 
					<div class="box-parceiros">
						
						
						<a href="http://receptivo.turismograndcanyon.com.br/">
							<img src="../imagens/parceiros/parceiro-2.jpg" alt="Turismo Grand Canyon" title="Turismo Grand Canyon">
						</a>
					</div> -->		

					<!-- <div class="box-parceiros">
						<a href="http://agenciaecohotel.com.br">
							<img src="../imagens/parceiros/parceiro-3.jpg" alt="Agência Eco Hotel" title="Agência Eco Hotel">
						</a>
					</div>		
 --><!-- 
					<div class="box-parceiros">
						<a href="http://pousadahostelalvorada.com.br/">
							<img src="../imagens/parceiros/parceiro-4.jpg" alt="Alvorada Hostel Pousada" title="Alvorada Hostel Pousada">
						</a>
					</div>	 -->

					<!-- <div class="box-parceiros">
						<a href="http://ecasg.jimdo.com/">
							<img src="../imagens/parceiros/parceiro-5.jpg" alt="ECASG" title="ECASG">
						</a>
					</div> -->

<!-- 					<div class="col-md-3">
						<div style="width:170px !important; margin: 0 auto;">
							<ul class="bxslider">
								<li><a href="http://receptivo.turismograndcanyon.com.br"><img src="/imagens/slidergrand1.jpg"/></a></li>
								<li><a href="http://receptivo.turismograndcanyon.com.br"><img src="/imagens/slidergrand2.jpg"/></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3">
						<div style="width:170px !important; margin: 0 auto;">
							<ul class="bxslider">
								<li><a href="http://receptivo.turismograndcanyon.com.br"><img src="/imagens/slidergrand1.jpg"/></a></li>
								<li><a href="http://receptivo.turismograndcanyon.com.br"><img src="/imagens/slidergrand2.jpg"/></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3">
						<div style="width:170px !important; margin: 0 auto;">
							<ul class="bxslider">
								<li><a href="http://receptivo.turismograndcanyon.com.br"><img src="/imagens/slidergrand1.jpg"/></a></li>
								<li><a href="http://receptivo.turismograndcanyon.com.br"><img src="/imagens/slidergrand2.jpg"/></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3">
						<div style="width:170px !important; margin: 0 auto;">
							<ul class="bxslider">
								<li><a href="http://receptivo.turismograndcanyon.com.br"><img src="/imagens/slidergrand1.jpg"/></a></li>
								<li><a href="http://receptivo.turismograndcanyon.com.br"><img src="/imagens/slidergrand2.jpg"/></a></li>
							</ul>
						</div>
					</div> -->

			<!-- </div> -->

			<div style="width: 100%; height: auto;">
				<a href="http://costaodocambarahotelfazenda.com">
					<img class="img-responsive" src="/img/fundohotel.jpg">
				</a>
			</div>

			<br><br>
		<!-- 	<div class="publicidade-capa">
				<div class="banner-publicidade">
					<a href="http://www.turismograndcanyon.com.br" target="blank">
						<img src="../imagens/banner-grand-canyon.jpg" alt="Turismo Grand Canyon" title="Turismo Grand Canyon" class="img-responsive" style="width: 100%;">
					</a>
				</div>
			</div> -->
			<br>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<br>
							<div class="col-md-12 centralizar-social" style="margin-bottom:25px;">
								<a class="twitter-timeline" href="https://twitter.com/PNAS_PNSG"  data-widget-id="599220654248992768">Tweets de @PNAS_PNSG</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
							
							<!-- <div class="col-md-6 centralizar-social">
								<a class="twitter-timeline" href="https://twitter.com/GuiaAparados" data-widget-id="625723813674778624">Tweets de @GuiaAparados</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div> -->
							<br>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<div class="informe-se">
									<h4>Informe-se</h4>
									<ul>
<!-- %informe-se% -->
										<li>
											<a href="{%link%}" alt="{%titulo%}" title="{%titulo%}">
												» {%titulo%}
											</a>
										</li>
<!-- %fim_informe-se% -->
										
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="noticias">
									<h4>Notícias</h4>
									<ul>
<!-- %noticias% -->
										<li>
											<a href="{%link%}" alt="{%titulo%}" title="{%titulo%}">
												» {%titulo%}
											</a>
										</li>
<!-- %fim_noticias% -->
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		<div class="col-md-4">
			<div class="menu-lateral">
				<h4>VEJA TAMBÉM:</h4>	
				<div class="menu-lateral-1">
					<ul>
						<li>
							<a onclick="abrelista1();" style="cursor:pointer;">» Agenda de Passeios</a>
							<div class="agenda-lista" id="lista1" style="display:none;">
<!-- %comData% -->
								<div class="row">
									<div class="col-md-12">
											<!-- <h4><span></span></h4> -->
										<a href="{%link%}">
											<h3>» {%nm_pacote%}</h3>
										</a>
									</div>
								</div>
<!-- %comData_fim% -->
							</div>
						</li>
						<li style="background-color:#A85400;">
							<a onclick="abrelista2();" style="cursor:pointer;">» Trekking / Travessias</a>
							<div class="agenda-lista" id="lista2" style="display:none;">
<!-- %familia% -->
								<div class="row">
									<div class="col-md-12">
											<!-- <h4><span></span></h4> -->
										<a href="{%link%}">
											<h3>» {%nm_pacote%}</h3>
										</a>
									</div>
								</div>
<!-- %familia_fim% -->
							</div>
						</li>
						<li>
							<a onclick="abrelista3();" style="cursor:pointer;">» O que Fazer</a>
							<div class="agenda-lista" id="lista3" style="display:none;">
<!-- %umDia% -->
								<div class="row">
									<div class="col-md-12">
											<!-- <h4><span></span></h4> -->
										<a href="{%link%}">
											<h3>» {%nm_pacote%}</h3>
										</a>
									</div>
								</div>
<!-- %umDia_fim% -->
							</div>
						</li>
					</ul>
				</div>	

				<div class="menu-lateral-2">
					<ul>
						<li><a href="/atrativos">» Atrativos</a></li>
						<li><a href="/galeria-de-fotos">» Galeria de fotos</a></li>
						<li><a href="/os-trekkings-nos-aparados">» Os Trekkings </a></li>
						<li><a href="/mountain-bike-nos-aparados">» Mountain Bike</a></li>
						<li><a href="/as-cavalgadas-nos-aparados">» Cavalgada Aparados da Serra</a></li>
						<li><a href="http://adventure.guiaaparadosdaserra.com.br/excursao-para-grupos" target="_blank">» Excursão para Colégios/ Universidades</a></li>
						<li><a href="/o-que-e-aparados-da-serra">» O que é Aparados da Serra</a></li>
						<li><a href="/expedicao-aparados-4x4">» Expedição Aparados 4x4</a></li>
						<li><a href="/trilha-dos-canyons">» Trilha dos Canyons e Cachoeiras 4x4</a></li>
						<!-- <li><a href="/translados-transfer">» Translados/Transfer</a></li> -->
						<!-- <li><a href="https://reservas.guiaaparados.com/passeio/caminhada-trekking-canyon-itaimbezinho-cambara-do-sul-rs" target="_blank">» Tour para Itaimbezinho</a></li> -->
						<li><a href="/sobre-os-aparados-da-serra">» Sobre os Aparados</a></li>
						<li><a href="/aparados-da-serra-turismo">» Aparados da Serra Turismo</a></li>
						<li><a href="/videos">» Vídeos</a></li>
						<li><a href="/telefones-uteis">» Telefones Úteis</a></li>
						<!-- <li><a href="/produtos">» Loja Guia Aparados</a></li> -->
					</ul>
				</div>
			</div>

			<style type="text/css">
				.bx-wrapper{
					margin-bottom: 0px !important;
				}
			</style>

			<br><br>

			<div class="parceiros-lateral">
				<!-- <a href="http://abeta.tur.br/pt/" target="blank">
					<img class="img-responsive" src="../imagens/abeta.jpg" alt="abeta" title="abeta" style="
					    width: 100%;
					    margin: 0px auto;
					">
				</a> -->
			</div>
			<br><br>

			<!-- <div style="width:170px !important; margin: 0 auto;">
				<ul class="bxslider">
					<li><a href="http://receptivo.turismograndcanyon.com.br" tagert="blank"><img src="/imagens/slidergrand1.jpg"/></a></li>
					<li><a href="http://receptivo.turismograndcanyon.com.br" tagert="blank"><img src="/imagens/slidergrand2.jpg"/></a></li>
				</ul>
			</div> -->

		<!-- 	<br><br>

			<div style="width:170px !important; margin: 0 auto;">
				<ul class="bxslider">
					<li><a href="http://adventure.guiaaparadosdaserra.com.br/" tagert="blank"><img src="/imagens/banner-guia-parceiros.jpg"/></a></li>
					<li><a href="http://adventure.guiaaparadosdaserra.com.br/" tagert="blank"><img src="/imagens/banner-guia-parceiros-2.jpg"/></a></li>
				</ul>
			</div>

			<br><br>

			<div style="width:170px !important; margin: 0 auto;">
				<ul class="bxslider">
					<li><a href="http://cavalgadas.guiaaparadosdaserra.com.br/" tagert="blank"><img src="/imagens/fazendaSantana1.jpg"/></a></li>
					<li><a href="http://cavalgadas.guiaaparadosdaserra.com.br/" tagert="blank"><img src="/imagens/fazendaSantana2.jpg"/></a></li>
				</ul>
			</div> -->


		<!-- 	<br><br>

			<div style="width:170px !important; margin: 0 auto;">
				<ul class="bxslider">
					<li><a href="http://www.cambaraecohotel.com.br/" tagert="blank"><img src="/imagens/eco-hotel-parceiro.jpg"/></a></li>
					<li><a href="http://www.cambaraecohotel.com.br/" tagert="blank"><img src="/imagens/eco-hotel-parceiro-2.jpg"/></a></li>
				</ul>
			</div> -->

		<!-- 	<br><br>


			<style type="text/css">
				embed {
					width: 100% !important;
				}
			</style>
			<div class="tempo-lateral">
				<iframe src="http://selos.climatempo.com.br/selos/MostraSelo.php?CODCIDADE=1381,3139,4119,3483&amp;SKIN=verde"
				marginheight="0" marginwidth="0" width="350" frameborder="0" height="170" scrolling="no" class="none"></iframe>
			</div> -->


		</div>


		<div class="col-md-12">
			<div class="row">
				<div class="parceiros-rodape">
					<p>PARCEIROS:</p>
					<div class="agrupa-parceiros-rodape">
						<div class="row">

						<div id="demo">
				        <div class="container">
				          <div class="row">
				            <div class="span12">

				              <div id="owl-demo" class="owl-carousel">

				              	<!-- <!-- %while% -->

								<!-- <div class="item">
			                		<a href="/{%link%}" rel="lightbox" title="{%tt_foto%}" class="lightbox">
			                			<img src="/{%foto%}" alt="Owl Image"/>
			                		</a>
			                	</div> -->

				                <!--  <!-- %fim% -->
<!-- %while_parceiros% -->
			                 	<div class="item"><a href="{%link%}" target="blank"><img width="130px" src="/{%foto%}" alt="Aparados da Serra Parceiros" title="Aparados da Serra Parceiros" ></a></div>
<!-- %fim_parceiros% -->

				              </div>
				              
				            </div>
				          </div>
				        </div>

				        </div>











							<!-- <div class="col-md-2">
								<div class="box-parceiro-rodape">
								<a href="#">
									<img src="../imagens/parceiro-cp-01.jpg">
								</a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="box-parceiro-rodape">
									<a href="#">
									<img src="../imagens/parceiro-cp-01.jpg">
								</a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="box-parceiro-rodape">
								<a href="#">
									<img src="../imagens/parceiro-cp-01.jpg">
								</a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="box-parceiro-rodape">
								<a href="#">
									<img src="../imagens/parceiro-cp-01.jpg">
								</a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="box-parceiro-rodape">
								<a href="#">
									<img src="../imagens/parceiro-cp-01.jpg">
								</a>
								</div>
							</div>
							<div class="col-md-2">
								<div class="box-parceiro-rodape">
								<a href="#">
									<img src="../imagens/parceiro-cp-01.jpg">
								</a>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>	

	</div>
</div>


<script type="text/javascript">
	function abrelista1(){ 
		$("#lista1").toggle("slow");
	}
	function abrelista2(){ 
		$("#lista2").toggle("slow");
	}
	function abrelista3(){ 
		$("#lista3").toggle("slow");
	}
</script>