<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Onde Comer</h2>
	</div>
</div>

<div class="conteudo-interna">
	<div class="container lista-onde-ficar">

		<div class="row titulo-lista-onde-ficar">
			<div class="col-md-6">
				<h3>CAMBARÁ DO SUL - RS</h3>
			</div>
			<div class="col-md-6">
				<a href="/onde-comer/10/outros" class="bt-outras-cidades">
					OUTRAS CIDADES
				</a>
			</div>
		</div>

<!-- %while% -->
		<div class="col-md-4 dividir-conteudo-interna">
			<a href="{%link_comer%}" title="{%nm_comer%}">
			<img class="img-responsive" src="/{%foto%}" alt="{%nm_comer%}">
			<h5>{%nm_comer%}</h5>
			<P>
				{%end_comer%}
				<br>
				
			</P>
			</a>
			<br>
			<a href="{%link_comer%}">VER MAIS</a>
		</div>
<!-- %fim_while_while% -->
	</div>
</div>
<!-- %fim% -->
		