<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>{%titulo%}</h2>
	</div>
</div>
<br><br>
<div class="conteudo-interna">
	<div class="container">
		<p>
			{%descricao%}
		</p>
	</div>
</div>
<br><br>

<div class="galeria-paginas-interna">
	<div class="container-fluid">
<!-- %while% -->	
		<div class="col-md-3" style="margin-bottom:40px;">
			<a href="{%link%}" rel="lightbox1" alt="{%titulo%}" title="{%titulo%}">
				<img class="img-responsive" src="{%foto%}" alt="{%titulo%}" title="{%titulo%}">
			</a>
		</div>
<!-- %fim% -->
	</div>
</div>

<br><br>