<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>O que Fazer</h2>
	</div>
</div>
<br><br>
<div class="conteudo-interna">
	<div class="container">
		<div class="lista-oque-fazer">
			<div class="col-md-12">
				<ul>
					<li>
						<a href="#">Aventura Canyon Cambajuva \ Cambará do Sul - RS. (Trekking)</a>
					</li>
					<li>
						<a href="#">Aventura Trilha do Rio do Boi \ Praia Grande – SC. (Trekking)</a>
					</li>
					<li>
						<a href="#">Cavalgada Canyon Pinheirinho \ Cambará do Sul - RS. (Cavalgada)</a>
					</li>
					<li>
						<a href="#">Passeio Canyon Fortaleza \ Cambará do Sul – RS. (Caminhada \ Trekking)</a>
					</li>
					<li>
						<a href="#">Passeio Canyon Itaimbézinho \ Cambará do Sul – RS. (Caminhada \ Trekking)</a>
					</li>
					<li>
						<a href="#">Passeio de Bike descida Serra do Faxinal \ Praia Grande - SC. (Mountain Bike)</a>
					</li>
					<li>
						<a href="#">Passeio de Bike Vale do Rio Santana \ Cambará do Sul - RS. (Mountain Bike)</a>
					</li>
					<li>
						<a href="#">Passeio Rota 4x4 das Cachoeiras \ Cambará do Sul – RS. (Off Road)</a>
					</li>
					<li>
						<a href="#">Visita a Cachoeira dos Venancios</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<br><br>

<div class="galeria-paginas-interna">
	<div class="container-fluid">
		<div class="col-md-3"><a href="#"><img class="img-responsive" src="../imagens/foto-gal-test.jpg"></a></div>
		<div class="col-md-3"><a href="#"><img class="img-responsive" src="../imagens/foto-gal-test.jpg"></a></div>
		<div class="col-md-3"><a href="#"><img class="img-responsive" src="../imagens/foto-gal-test.jpg"></a></div>
		<div class="col-md-3"><a href="#"><img class="img-responsive" src="../imagens/foto-gal-test.jpg"></a></div>
	</div>
</div>

<br><br>