<!-- %inicio% -->

<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Agências Guias</h2>
	</div>
</div>

<div class="container">
	<div class="agrupaTituloInterna">
		<p class="tituloInterna">{%nm_pousada%}</p>
	</div>

	<div class="agrupaFotosInterna">
		<a href="/{%link%}" rel="lightbox" title="{%nm_pousada%}" class="lightbox">
			<img src="/{%foto%}" alt="" class="none" />
		</a>
	</div>
	<div class="agrupaDescLateral">
		<p class="nomeCliente">
			{%nm_pousada%}
		</p>
		<p class="endereco">
			{%end_pousada%}<br />
			{%tel_pousada%}
		</p>
		<div class="outrosDescs">
			{%em_pousada%}<br />
			<strong>Site: </strong> {%st_pousada%}
		</div>
	</div>
	<div class="agrupaTextoDescricao" >

			{%ds_pousada%}
			<div class="agrupaOutrasFotos">
				<div class="container">
<!-- %while% -->
			
				<a href="/{%links%}"  rel="lightbox1" title="{%tt_fotos%}" class="outrasFotos lightbox" >
					<img src="/{%fotos%}"  alt="{%nm_pousada%}" class="none" />
				</a>
			
<!-- %fim% -->
				</div>
			</div>

	</div>
</div>