<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Quem Somos</h2>
	</div>
</div>
<br><br>
<div class="conteudo-interna">
	<div class="container">
		<p>
			{%ds_quem_somos%}
		</p>
	</div>
		
</div>
<div class="agrupaOutrasFotos">
	<div class="container">
<!-- %while% --> 
	   
	    	<a href="/{%link%}" rel="lightbox" title="{%tt_foto%}" class="lightbox">
				<img src="/{%foto%}" alt="" class="none" />
			</a>	
	    
<!-- %fim% -->
	</div>
</div>
<br><br>