<?xml version="1.0" encoding="iso-8859-1"?>
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
								
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">
<head>
	<style type="text/css">
		body,h1,h2,div,p { margin: 0; padding: 0; color: #000000; font-family: Tahoma, "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 12px; text-align: }		
	</style>
</head>
<body>
	<a href="http://adventure.guiaaparadosdaserra.com.br/pacotes/16/corpus-christi-4-dias-3-noites-ecoturismo-e-aventura-trekking.html" target="_blank">
		<img src="/imagens/promocao.jpg" alt="" class="name" />
	</a>
</body>
</html>