<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Expedição Aparados 4x4</h2>
	</div>
</div>
<br><br>
<div class="conteudo-interna">
	<div class="container">
		<div class="video-yt">
						<iframe width="100%" height="450" src="https://www.youtube.com/embed/ypDhT0ynwUg?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
		<p>
		{%ds_expedicao%}

		</p>
	</div>
</div>
<br><br>

<div class="galeria-paginas-interna">
  <div class="container-fluid">
<!-- %while% -->  
    <div class="col-md-3" style="margin-bottom:40px;">
      <a href="{%link%}" rel="lightbox1" alt="Expedição Aparados da Serra 4x4" title="Expedição Aparados da Serra 4x4">
        <img class="img-responsive" src="{%foto%}" alt="Expedição Aparados da Serra 4x4" title="Expedição Aparados da Serra 4x4">
      </a>
    </div>
<!-- %fim% -->    
  </div>
</div>

<br><br>