<!-- %inicio% -->	
	<script type="text/javascript" src="/jscript/jquery2.js"></script>
	<script type="text/javascript" src="/jscript/jquery.validate.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('#formPropostas').validate();
		});
	</script>
	<script type="text/javascript" src="/jscript/mascaras.js"></script>

		<div class="agrupaTituloInterna">
			<p class="tituloInterna tituloAzul">Escolha o Serviço que você deseja</p>
		</div>

		<div class="agrupaDescricaoForm">
			
            <a href="http://adventure.guiaaparadosdaserra.com.br/contato" class="cemPorcento">Guia Aparados - Ecoturismo e Aventura</a><br />
            <a href="http://cavalgada.guiaaparadosdaserra.com.br/contato" class="cemPorcento">Fazenda Santana - Turismo Equestre</a><br />
            <a href="/fale-conosco" class="cemPorcento">Guia Aparados da Serra - Serviços Receptivos</a>
			
		</div>
		
