<!-- %inicio% -->
					<div class="agrupaTituloInterna">
						<p class="tituloInterna tituloVerde">Resultados da busca</p>
					</div>
					<p class="descBusca">
						Foram encontrados <span class="numeroResultado">{%numResultados%}</span> item(s) com os termos: <span class="termosResultados">{%key%}</span>
					</p>
<!-- %tipo_1% -->
					<div class="agrupaResultados">
						<div class="agrupaTituloTopico">
							<p class="tituloTopico">
								{%nmModulo%} - {%item%}
							</p>
							<div class="topicos">
<!-- %while% -->
								<br/>
								<a href="/{%linkModulo%}" class="linkTopico">
									{%titulo%}
								</a>
<!-- %fim% -->
							</div>
						</div>
					</div>
<!-- %tipo_2% -->
					<div class="agrupaResultados">
						<div class="agrupaTituloTopico">
							<p class="tituloTopico">
								{%nmModulo%} - {%item%}
							</p>
							<div class="topicos">
								<a href="/{%linkModulo%}" class="linkTopico">
									{%descricao%}
								</a>
							</div>
						</div>
					</div>

<!-- %exemplo% -->
								<a href="#" class="linkTopico">
									topico topico lal dsa saldasd asdasld asdas das <span class="palavraAchada">aosdjas</span>das as asda s
								</a>