<!-- %inicio% -->
<div class="agrupaTituloInterna">
	<p class="tituloInterna tituloOndeFicar">Onde Ficar - {%nm_cidade%}</p>
</div>
<!-- %while% -->
<div class="agrupaFotosInterna">
	<a href="/{%link%}" rel="lightbox" title="{%nm_ficar%}" class="lightbox">
		<img src="/{%foto%}" alt="" class="none" />
	</a>
</div>
<div class="agrupaDescLateral">
	<p class="nomeCliente">
		{%nm_ficar%}
	</p>
	<p class="endereco">
		{%end_ficar%}<br />
		<!-- {%tel_ficar%} -->
	</p>
	<!-- <div class="outrosDescs">
		<strong>Email: </strong>{%em_ficar%}<br />
		<strong>Site: </strong> {%st_ficar%}

	</div> -->
	<div class="agrupaLink">
		<br />
		<a href="{%link_ficar%}" class="linkDetalhes">Ver Detalhes</a>
	</div>
</div>
<div class="agrupaTextoDescricao" >
	<div id="{%cd_ficar%}" style="display: none;">

		{%ds_ficar%}
		<div class="agrupaOutrasFotos">
<!-- %while_while% -->
			<a href="/{%links%}"  rel="lightbox" title="{%tt_fotos%}" class="outrasFotos lightbox" >
				<img src="/{%fotos%}"  alt="" class="none" />
			</a>
<!-- %fim_while_while% -->
		</div>
	</div>
<!-- %fim% -->
</div>