<!-- %inicio% -->
					<div class="agrupaTituloInterna">
						<p class="tituloInterna tituloVerde">Compre o Guia Impresso</p>
					</div>
					
					<div class="agrupaTextoInternaGaleria">
						<a href="/visualizar-mapa" title="Mapa Auto Informativo" class="linkTextoInforme"><strong>CLIQUE AQUI PARA ABRIR O MAPA</strong></a>
						<br /><br />
						<a href="/{%link%}" rel="lightbox" class="ft_compre lightbox">
							<img src="/{%foto%}" alt="" />
						</a>
						{%ds_compre%}
					</div>
					