<!-- %inicio% -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>{%titulo_site_config%}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Language" content="pt-br" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store" />
		<meta http-equiv="Pragma" content="no-cache, no-store" />
		<meta name="description" content="{%description_site_config%}" />
		<meta name="keywords" content="{%keywords_site_config%}" />
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Zaib Tecnologia" />
		{%webmasters_site_config%}
		<!-- <link href="/css/estrutura.css" rel="stylesheet" type="text/css" /> -->
		<link href="/css/internasComuns.css" rel="stylesheet" type="text/css" />
		<link href="/css/lightbox.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/skins/tango/skin.css" />
		<!-- <link rel="stylesheet" type="text/css" href="/css/menu.css" /> -->
		
		<script type="text/javascript" src="/jscript/flash.js"></script>  
		<script type="text/javascript" src="/jscript/jquery.js"></script> 
		<script type="text/javascript" src="/jscript/swfobject.js"></script>
		<script type="text/javascript" src="/jscript/jquery.pngFix.js"></script>
		
		<script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
		
		<script type="text/javascript" src="/js/ext-core-debug.js"></script>
		<script type="text/javascript" src="/js/menu.js"></script>
		
		<script type="text/javascript" src="/jscript/jquery.lightbox.js"></script>
        <script type="text/javascript" src="/jscript/lightbox.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		<!-- font-family: 'PT Sans', sans-serif; -->

				<script type="text/javascript">

		jQuery(document).ready(function() {
		    jQuery('.agrupaSite').pngFix();
		});
		
		</script>

	</head>

	<body>
		<div class="topo-top">
			<div class="container">
				<div class="col-md-4">
					<div class="menu-top">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Quem Somos</a></li>
							<li><a href="#">Contatos</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
			</div>
		</div>
		<div class="topo">
			<div class="container">
				<div class="col-md-3">
					<a href="/"><img src="../img/logo.png" class="logo-principal img-responsive" title="Guia Aparados da Serra"></a>
				</div>
				<div class="col-md-9">
					<div class="info-topo">
						<ul>
							<li>54 3251-1173</li>
							<li>guiaaparadosdaserra@gmail.com</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		
		<div class="principal">
<!-- %fim% -->								
		</div>

		<div class="">

		</div>
	</body>
</html>
