<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">TROPILHA</h3>
  </div>
  <br>

  <div class="interna-conteudo">
    <p>
    Somos um Portal que organiza as informações sobre o destino Aparados da Serra.
    Somos uma Operadora Receptiva que efetua Roteiros de Ecoturismo e Aventura e Turismo Eqüestre.
<br>
<br>
    Do Guia / Portal:
<br>
<br>
    Até o fim do ano 2010 o nosso site era um site de informações e Pacotes a venda de Ecoturismo e Aventura para o destino Aparados da Serra. No inicio de 2011 lançamos o Guia online / Portal dos Aparados da Serra, uma idéia que surgiu a mais de 4 anos atrás, mais só foi possível entrar no ar quando o domínio estava disparado na frente nas palavras chaves de procura para o destino Aparados da Serra.
    Hoje o nosso site é um portal de grande dimensão e muito organizado quando se trata do destino Aparados da Serra. Dominamos o complexo de Canyons “Aparados da Serra” e toda a informação para cruzar a região esta exposta no site divido corretamente com vários serviços.
<br>
<br>
    Da Agência / Operadora Receptiva:
<br>
<br>
    Somos nativos da região e os únicos como Agência Receptiva a dominar toda a região dos Aparados da Serra Geral. Todo o nosso trabalho é focado somente em Aparados da Serra, levamos você a Canyons que o Brasil nunca ouviu falar na área pouco explorada da Montanha e também operamos na área mais conhecida e divulgada que fica entre Cambará do Sul – RS e Praia Grande – SC (O que chamamos de Sul dos Aparados da Serra).
<br>
<br>
    Nosso diferencial esta nos Pacotes com serviços de traslado com busca em Aeroportos e Rodoviárias do Rio Grande do Sul e Santa Catarina. Outro diferencial importante são nossos Roteiros integrados que cruzam todo o Complexo de Canyons.
<br>
<br>
    Temos o “Guia Aparados” que cuida da parte dos serviços Receptivos de Ecoturismo e Aventura da Operadora (Trekking / Off Road / Canionismo / Rapel / Passeio de Bote / Passeios a Cavalo)
    A “Cavalgadas Aparados” que faz todo o receptivo para o Turismo Eqüestre nos Aparados da Serra. 
<br>
<br>
    Para contato acesse o link Fale Conosco.
    </p>
  </div>  

  <div id="demo" class="carrosel-parceiros">
    <div class="span12">
      <div id="corrosel-interna" class="owl-carousel">

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>
          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

      </div>
    </div>
  </div>

</div>

<br>
<br>