<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">POLÍTICA DE RESERVA</h3>
  </div>
  <br>

  <div class="interna-conteudo">
    <p>
 <b>LEIA COM ATENÇÃO!</b> 
<br><br>
Política de Cancelamento de Reservas- Regras da Embratur 
O cancelamento de reservas está sujeito à perda de valores pagos, podendo ser acordado data para hospedagem posterior (até no prazo máximo de 3 meses), de acordo com a conveniência do Estabelecimento de Hospedagem ou Agência. Caso o cancelamento seja de pacotes (feriados ou promocionais) a hospedagem futura só poderá ser realizada em período normal, com o mesmo número de diárias canceladas, não valendo para futuros pacotes. 
<br><br>
Condições para cancelamento: 
Cancelamentos de reservas pagas, com até 7 dias, antes do check-in, serão devolvidas sem custos para o cliente, descontadas as despesas bancárias ou administrativas se houver; 
Também poderá o cliente conforme o deposito realizado ficar com créditos podendo ser utilizado no prazo de 6 meses, após 6 meses o cliente perde o valor de credito.
Em casos que o cliente não queira utilizar seus créditos e solicite reembolso dos valores será cobrado multa de 30% sobre o valor total do Pacote. O cliente deverá solicitar através de carta por escrito devidamente assinada descrevendo o cancelamento do passeio por parte dele e da solicitação de reembolso tando para valor sinal ou para valor integral (casos de cliente que depositam valor total do Pacote em conta). 
<br><br>
Com menos dos 7 dias de antecedência o valor de 30% fica retido como multa de cancelamento.
<br><br>
Para Pacotes Especiais( Reveillon, Carnaval, Semana Santa, Tiradentes, Dia do Trabalho,Corpus Christi, Indep. Brasil, N.S.Aparecida, Finados, Procl. República, Natal), com até 7 dias de antecedência será devolvido até 80% do valor da reserva (base do valor depositado). Com menos de 7 dias haverá perda total da reserva (os 30% sinal de depositado). 
<br><br>
O não comparecimento na data prevista para o check-in, será considerado NO SHOW e cobrado integralmente; 
<br><br>
O cancelamento de um Pacote de diárias, após o check-in, implica no pagamento integral do preço do Pacote, independente do número de dias efetivamente utilizados. 
<br><br>
Mau Tempo em dia de passeio \ atividades:
Os nossos passeios não são realizados somente em casos fortuitos, ou seja, mau tempo com características de tempestade. Em caso de chuva ou qualquer outro fenômeno dentro do normal os passeios ocorrem dentro do limite de segurança. 
Quando ocorre do passeio ser cancelado esta decisão é exclusiva do profissional (guia), neste caso o dinheiro pago deve ser devolvido ou fica em credito para uso em prazo de um ano, isto serve somente para os passeios cancelado antes da partida. Sendo o passeio abortado durante o trecho de trilha por questão de segurança (antes dos 50% da realização do passeio) parte do valor pago fica retido, outra parte devolvido. Sendo abortado ao final do passeio os valores ficam retidos. 
Quando ocorre do cliente desistir o valor depositado ou pago horas antes da saída, fica retido não podendo ser utilizado como credito, há não ser que o pedido de desistência seja antes do sétimo dia útil, conforme prevê o código de defesa do consumidor.
<br><br>
Para passeios privados (exclusivos) deve o cliente solicitar com antecedência sendo que o valor final terá créscimo de 40%. Adquirindo passeios ou pacotes com base no mesmo numero de participantes de origem família, grupo, casal ou individual, não segnifica que o passeio é privado. A Agência poderá encaixar mais participantes nos passeios e o custo final será menor conforme a tabela enviada por e-mail ou comunicada por telefone. 
<br><br>
- Regras de valores por idade (conforme atividade):
<br><br>
Para atividades de Caminhada \ Trekking:
De 0 a 5 anos é Free. 
De 6 a 9 anos 50% do valor tabela. (Passeio de Trekking nível moderado acima criança com esta faixa de idade não poderá participar).
De 10 anos acima paga valor normal tabela em todos os passeios de caminhada \ trekking.
<br><br>
*De 12 anos abaixo o parque não permite a entrada nos portões da Trilha do Rio do Boi e Trilha do Tigre Preto.
*Não recomendamos que crianças de 0 a 4 anos efetuem os passeios da região, isto porque o mais simples dos passeios exige deslocamento de veiculo em 40 minutos em estrada pedregosa, mais trilhas de 2, 3km caminhando. 
<br><br>
Para atividades de Cavalgada:
De 0 a 2. Não realizamos. 
De 3 a 5 anos é Free. (Criança no colo \ vai basteira) 
De 6 anos acima paga valor normal tabela em todos os passeios de Cavalgada.
<br><br>
*Não recomendamos que crianças de 3 a 5 anos efetuem os passeios de cavalgada, isto porque o mais simples dos passeios exige deslocamento de veiculo em 40 minutos em estrada pedregosa, mais 02hs cavalgando.
<br><br>
Para atividades de Off Road:
De 0 a 5 anos é Free. 
De 6 a 9 anos 50% do valor tabela. 
De 10 anos acima paga valor normal tabela em todos os passeios de 4x4.
<br><br>
*Não recomendamos que crianças de 0 a 4 anos efetuem os passeios da região, isto porque o mais simples dos passeios exige deslocamento de veiculo em 04hs em estrada pedregosa 'irregular'.
<br><br>
Atividades de Rapel e Bote:
Adultos e crianças acima de 10 anos não alterando valores.
<br><br>
Traslados e Tur Rural:
De 0 a 5 anos é Free. 
De 6 a 9 anos 50% do valor tabela. 
De 10 anos acima paga valor normal tabela.
<br><br>
- Guia Aparados Info
<br><br>
Nossa região é a mais fria do Brasil, mesmo no verão é importante você trazer um ou dois casacos conforme o numero de dias que você vai ficar na região. No inverno o frio pode ser muito intenso quando as massas de ar polar cruzam pela região. Temperaturas máxima de 5 graus durante o dia e a mínima pode chegar em – 10graus na área central dos Aparados ou até mais baixa ainda no Norte onde estão os Picos do Sul do Brasil.
<br><br>
Os Parques Nacionais são áreas de preservação onde o órgão ICMbio protege a área. Nos limites dos Parques estão pontos turísticos famosos da Montanha, como o Canyon Itaimbézinho. Em todos os Parques Nacionais não é permitido fazer atividades que não seja caminhada em trilhas já formatadas ou passeio de Bike.
<br><br>
O Parque Nacional onde esta o Canyon Itaimbézinho se chama “Aparados da Serra” mais este Parque Nacional não significa que é os “Aparados da Serra”, o Parque representa apenas uma pequena parte de toda a Montanha que se chama “Aparados da Serra”.
<br><br>
No centro da Montanha existe uma grande área preservada onde não é Parque Nacional, até maiores que os próprios Parques, e é possível fazer outras atividades como chegar em trilhas de 4x4 as bordas dos grandes Canyons de São José dos Ausentes – RS e Bom Jardim da Serra – SC. Nesta área também é possível explorar o Trekking de melhor forma sem as trilhas formatadas, também efetuamos cavalgadas através do departamento de turismo equestre da Agência “Cavalgadas Aparados”.
<br><br>
No Sul da Montanha Aparados da Serra Geral estão os famosos Parques Nacionais dos Aparados da Serra e Serra Geral, onde exploramos com trilhas já formatadas pelo ICMbio as bordas dos Canyons do Itaimbézinho e Fortaleza. Nem só dos dois Canyons famosos são os roteiros nos Parques, podemos explorar outras gargantas como o Canyon do Malacara ou Churriado e Canyon da Pedra que fica na margem do Parque.
<br><br>
Para entrar nos Parques em alguns portões (os mais acessados) não é obrigatório Guias para acompanhamento. É necessário (obrigatório) Guias em trilhas de Aventura que fica em outros pontos de acesso dos Parques. Para o Canyon Fortaleza onde não existe estrutura alguma é necessario um guia mesmo sendo uma área não obrigatória.
É importante você sempre contratar o Guia embora você tenha a intenção de acessar os portões principais, o Guia traz segurança e muita informação, além de tornar o passeio agradável ele pode ajudar você em qualquer situação de risco, como as estradas de chão ruim que dão acesso aos Parques, podem trazer surpresas aos motoristas.
<br><br>
O serviço de Transfer Interno (transporte para os passeios) é fundamental para quem não que colocar seu veiculo nas estradas de chão da região. Nossas estradas de chão da região são famosas por ser ruim então aconselhamos o uso do Transfer Interno.
<br><br>
O Transfer Externo (Transporte para a busca e volta em Aeroportos e Rodoviárias de SC ou RS) serve para quem chega a região sem o seu veiculo próprio e quer comodidade para a busca e volta em Aeroportos e Rodoviárias.
    </p>
  </div>  

  <div id="demo" class="carrosel-parceiros">
    <div class="span12">
      <div id="corrosel-interna" class="owl-carousel">

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>
          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

      </div>
    </div>
  </div>

</div>

<br>
<br>