<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">QUEM SOMOS</h3>
  </div>
  <br>

  <div class="interna-conteudo">
    {%quem_somos%}
  </div>  

  <!-- <div id="demo" class="carrosel-parceiros">
    <div class="span12">
      <div id="corrosel-interna" class="owl-carousel">

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>
          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

          <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="../img/miniatura.jpg" data-title="Optional caption.">
            <img src="../img/miniatura.jpg" class="img-responsive example-image" alt="image-1">
          </a>
        </div>

      </div>
    </div>
  </div> -->

</div>

<br>
<br>