<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">PERGUNTAS E RESPOSTAS</h3>
  </div>
  <br>

  <div class="interna-conteudo">
    <p>
      
PERGUNTA:
Nunca montei em um cavalo, posso participar da cavalgada?
RESPOSTA:
O fato de você nunca subir em um cavalo não impede de você participar de uma aventura a cavalo. Você precisa esta tranqüilo e entrar no ambiente, temos animais mais mansos e lentos bom para iniciantes. 
O ideal é você fazer uma cavalgada de no maximo 2 dias com 06hs ao dia de cavalgada.
</br></br>
PERGUNTA:
Posso só fazer um passeio a cavalo?
RESPOSTA: 
Você pode realizar um passeio a cavalo que não deixa de ser uma cavalgada. Porém consideramos uma “cavalgada” quando percorremos mais de 06hs ao dia, isto em vários dias seguidos. 
Se você querer chegar até a nossa Sede (Fazenda Santana Cambará do Sul – RS), com reservas antecipadas através do nosso link contato podemos tranquilamente efetuar um ou dois passeios a cavalo de 02hs ou mais tempo.
</br></br>
PERGUNTA
Posso levar meu cavalo e arreios completos?
RESPOSTA:
Sim, desta forma o custo é mais baixo, porém você fica responsável pelo animal, encilhas e trato.
</br></br>
PERGUNTA:
Posso levar meus filhos maiores que 5 anos para cavalgar cada um em seu cavalo?
RESPOSTA:
Sim, porém você assina um termo de responsabilidade sobre as atitudes da criança com as rédeas na mão de controle dos animais. O ideal é que o Guia / instrutor puxe o cavalo da criança sem que ela toque nas rédeas.
</br></br>
PERGUNTA:
Posso levar meus arreios (sela)?
RESPOSTA:
Não permitimos porque os animais já estão acostumados ao nosso tipo de arreio e um arreio diferente pode provocar irritação ao animal e levar a corcovear podendo provocar um acidente.
</br></br>
PERGUNTA:
Qual é o tipo de montaria (sela /arreios)?
RESPOSTA:
Tipo estilo Gaúcho como manda os costumes do Tropeiro Serrano. São basteiras, ou sela em estilo australiano com pelegos grandes trazendo conforto. Estribo abertos e outros caçambas (fechados), rédeas de corda tradicional, capas de chuvas Gaúcha no estilo campeiro.
</br></br>
PERGUNTA:
Quanto tempo pode durar uma Cavalgada?
RESPOSTA:
Pode durar até 15 dias em um grande roteiro cruzando de sul a norte o complexo de Canyons e chegando aos pontos possíveis da montanha. Podemos cavalgar de sul a norte em 7 dias porém ao chegamos a todos os pontos possíveis. 
Pode ser no mínimo de 1 ou 2 dias, sempre bem aproveitadas.
</br></br>
PERGUNTA:
Como será a Alimentação?
RESPOSTA:
Sempre utilizamos as fazendas como apoio e também temos veículos de apoio. Mais praticamente toda a alimentação nos espera na mesa das fazendas que estão em nossos caminhos.
</br></br>
PERGUNTA:
Como será as hospedagens?
RESPOSTA:
Sempre em fazendas com quartos internos na casa. Algumas fazendas já existem quartos com banheiro, outras possuem quartos sem banheiro conforme nossos roteiros. 
Caso você queira fazer um roteiro somente me fazendas com quartos com banheiro, ou que chegue por alguns dias em um hotel semi luxo podemos personalizar o seu roteiro.
</br></br>
PERGUNTA:
Como faço para chegar até o ponto de inicio da Cavalgada?
RESPOSTA:
Nossas cavalgadas sem tem inicio em nossa sede aqui em Cambará do Sul (Fazenda Santana). Você pode chegar até nossa Sede veiculo próprio ou de terceiros. Também podemos buscar você em qualquer Rodoviária ou Aeroporto do RS ou SC através dos serviços de traslado da Operadora.

    </p>
  </div>  

</div>

<br>
<br>