<!-- %inicio% -->


<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">FOTOS</h3>
  </div>
  <br>

  <div class="interna-conteudo">

    <div class="conteudo-fotos">
<!-- %while% -->
      <div class="col-md-3">
        <a class="example-image-link" data-lightbox="example-set" href="/{%link%}" data-title="{%tt_foto%}" >
          <img src="/{%foto%}" class="img-responsive example-image" alt="{%tt_foto%}" title="{%tt_foto%}">
        </a>
      </div>
<!-- %fim% -->  

    </div>

  </div>  

</div>

<br>
<br>