<!-- %inicio% -->
<!-- 
  <script type="text/javascript" src="/jscript/jquery2.js"></script>
  <script type="text/javascript" src="/jscript/jquery.validate.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery('#formPropostas').validate();
    });
  </script>
  <script type="text/javascript" src="/jscript/mascaras.js"></script>
 -->

<script type="text/javascript" src="/js/jquery.maskedinput.js"></script>

<script type="text/javascript">
    jQuery( function($){

       $(".telefone1").mask("(99) 9999-9999");
       $(".telefone2").mask("(99) 9 9999-9999");

  });
</script>

<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">CONTATO</h3>
  </div>
  <br>

  <div class="interna-conteudo">
    <div class="col-md-6">

      <div class="row">
            <form action="/contato/enviar" class="formulario" id="formPropostas" method="post"> 
                  <div class="linhaForm">
                    <input type="text" class="inputComum required" id="nome" name="nome" placeholder="Nome" />
                  </div>
                  <br><br>
                  <div class="linhaForm">
                    <input type="text" class="inputComum required" id="email" name="email" placeholder="E-mail" />
                  </div>
                  <br><br>
                  <div class="linhaForm">
                    <input type="text" class="inputComum telefone2" id="telefone" name="telefone" maxlength="14" placeholder="Telefone" />
                  </div>
                  <br><br>
                  <div class="linhaForm">
                    <input type="text" class="inputComum cidade" id="cidade" name="cidade" placeholder="Cidade" />
                  </div>
                  <br>
                  <div class="linhaForm">
                    <label class="labelComum uf" for="uf">
                      <p>UF:</p>
                    </label>
                    <select class="selectUF" id="uf" name="uf">
                      <option>AC</option>
                      <option>AL</option>
                      <option>AP</option>
                      <option>AM</option>
                      <option>BA</option>
                      <option>CE</option>
                      <option>DF</option>
                      <option>ES</option>
                      <option>GO</option>
                      <option>MA</option>
                      <option>MT</option>
                      <option>MS</option>
                      <option>MG</option>
                      <option>PA</option>
                      <option>PB</option>
                      <option>PR</option>
                      <option>PE</option>
                      <option>PI</option>
                      <option>RJ</option>
                      <option>RN</option>
                      <option>RS</option>
                      <option>RO</option>
                      <option>RR</option>
                      <option selected="selected">SC</option>
                      <option>SP</option>
                      <option>SE</option>
                      <option>TO</option>
                    </select>
                  </div>

                  <div class="row">

                    <div class="col-xs-6">
                      <div class="linhaForm">
                        <input type="text" class="inputComum telefone" id="data_ini" name="data_ini" onkeypress="mMascarasJS('DATA', this.id); return(mCampoNumerico(this, event));" maxlength="10" placeholder="Possivel data da chegada:" />
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="linhaForm">
                        <input type="text" class="inputComum telefone" id="data_fim" name="data_fim" onkeypress="mMascarasJS('DATA', this.id); return(mCampoNumerico(this, event));" maxlength="10" placeholder="Possivel data da saída:" />
                      </div>
                    </div>
                  
                  </div>

                  <div class="row">

                    <div class="col-xs-6">
                      <div class="linhaForm">
                        <label class="" for="assunto">
                          <p>Assunto:</p>
                        </label>
                        <br>
                        <select class="selectAssunto" id="assunto" name="assunto">
                          <option value="Pacotes (Hospedagem + Passeios) ">Pacotes (Hospedagem + Passeios) </option>
                          <option value="Passeios (Pacotes de Passeios / Atividades)">Passeios (Pacotes de Passeios / Atividades)</option>
                          <option value="Somente Serviço de Guia ">Somente Serviço de Guia </option>
                          <option value="Outros">Outros</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="col-xs-6">
                      <div class="linhaForm">
                        <label class="" for="numeroPessoas">
                          <p>Nº Pessoas:</p>
                        </label>
                        <br>
                        <input type="text" class="inputComum uf" id="numeroPessoas" name="numeroPessoas" onkeypress="return(mCampoNumerico(this, event));" maxlength="10" placeholder="Nº Pessoas" />
                      </div>
                    </div>

                  </div>

                  <div class="linhaForm">
                    <textarea class="textArea required" id="mensagem" name="mensagem" rows="1" cols="1" placeholder="Mensagem"></textarea>
                  </div>
                  <input type="submit" alt="Enviar" title="Enviar" class="btEnviar"/>
              </form>
      </div>

    </div>
    <div class="col-md-6 info-contato">

      {%descricao%}

      
<!--       <br><br><br>
      <p>
        <b>AGÊNCIA - GUIA APARADOS
          <br>
            Ecoturismo e Aventura - Cambará do Sul RS - Aparados da Serra.
          <br><br><br>
        </b>
      </p>  
      <ul>
        <li>(54) 3251 1173 (Fixo Op. OI)</li>
        <li>(54) 8133 4772 (Operadora Tim)</li>
        <li>(54) 9 9932 4107 (Operadora Vivo - Contato Whatsapp)</li>
        <br>
        <p>E-mail: guiaaparadosdaserra@gmail.com</p>
        <p>Endereço: Av. Getulio Vargas, 920, Centro, Cambará do Sul -RS, CEP: 95480-000.</p>
        <p>CADASTUR: 2302855510.0001-2</p>
        <br>
        <p><b>Para contatos diretos com nossa equipe favor utilizar os contatos citados acima.</b></p>
      </ul> -->
    </div>
  </div>  

</div>

<br>
<br>