<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Cavalgadas Aparados</h2>
	</div>
</div>
<br><br>
<div class="conteudo-interna">
	<div class="container">
		<p>
			{%ds_cavalgada%}
		</p>
	</div>
</div>
<br><br>

<div class="galeria-paginas-interna">
	<div class="container-fluid">

		<div class="col-md-3">
			<a href="/{%link%}" rel="lightbox" title="{%tt_foto%}" class="lightbox">
				<img class="img-responsive" src="/{%foto%}" alt="" class="none" >
			</a>
		</div>

		<div class="col-md-3"><a href="#"><img class="img-responsive" src="../imagens/foto-gal-test.jpg"></a></div>
		<div class="col-md-3"><a href="#"><img class="img-responsive" src="../imagens/foto-gal-test.jpg"></a></div>
		<div class="col-md-3"><a href="#"><img class="img-responsive" src="../imagens/foto-gal-test.jpg"></a></div>
	</div>
</div>

<br><br>