<!-- %inicio% -->
					<div class="agrupaTituloInterna">
						<p class="tituloInterna tituloAzul">As cidades</p>
					</div>
<!-- %while% -->
					<div class="agrupaInformes">
<!-- %foto% -->
						<div class="agrupaFotosInterna">
							<a href="/{%link%}" title="{%tt_foto%}" >
								<img src="/{%foto%}" alt="" class="none" />
							</a>		
						</div>
<!-- %dados% -->
						<div class="agrupaTextoInterna">
							<a href="/{%link%}" class="linkTituloInforme">
								{%titulo%}
							</a>
							<a href="/{%link%}" class="linkTextoInforme">
								{%descricao%}
							</a>
						</div>
<!-- %fim% -->
					</div>