<!-- %inicio% -->


<div class="capa-interna">
	<img src="/img/fundo-internas.jpg">

	<div class="container">
		<h2>Telefones Úteis</h2>
	</div>
</div>
<br><br>
<div class="conteudo-interna">
	<div class="container">
		<p>Abaixo temos uma lista de telefones com serviços que podem ser importantes quando você cruzar a Montanha:</p>
		<br>
		<p>Policias:</p>
		<ul>
			<li>Urubici - SC / (49) 3278 4188</li>
			<li>Praia Grande - SC / (48) 3532 1147</li>
			<li>São José dos Ausentes - RS / (54) 3234 1070</li>
			<li>Cambará do Sul - RS / (54) 3251 1303</li>
			<li>Bom Jardim da Serra - SC / (49) 3232 0190</li>
		</ul>
		<br>
		<p>Hospitais:</p>
		<ul>
			<li>Urubici - SC / (49) 3278 4099</li>
			<li>Praia Grande - SC / (48) 3532 0139 </li>
			<li>São José dos Ausentes - RS / (54) 3234 1061</li>
			<li>Cambará do Sul - RS / (54) 3251 1167</li>
			<li>Bom Jardim da Serra - SC / (49) 3232 0274</li>
		</ul>
		<br>
		<p>Secretarias de Turismo</p>
		<ul>
			<li>Urubici - SC / (49) 3278 4245</li>
			<li>Praia Grande - SC / (48) 3532 1425</li>
			<li>São José dos Ausentes - RS / (54) 3234 1006</li>
			<li>Cambará do Sul - RS / (54) 3251 1557</li>
			<li>Bom Jardim da Serra - SC / (49) 3232 0197</li>
		</ul>
		<br>
		<p>Agências Bancarias:</p>
		<ul>
			<li>Banco Bradesco (Urubici - SC) / (49) 3278 4122</li>
			<li>Banco do Brasil (Urubici - SC) / (49) 3278 4133</li>
			<li>Banco do Brasil (Praia Grande - SC) / (48) 3532 0145</li>
			<li>Banco do Brasil (São José dos Ausentes - RS) / (54) 3234 1200</li>
			<li>Banco Banrisul (Cambará do Sul - RS) / (54) 3251 1154</li>
			<li>Banco Postal Correios / Branco do Brasil (Cambará do Sul - RS) / (54) 3251 1250</li>
			<li>Banco Sicredi (Cambará do Sul - RS) / (54) 3251 1558</li>
			<li>Banco do Brasil (Bom Jardim da Serra - SC) / (49) 3232 0191</li>
		</ul>
		<br>
		<p>Rodoviarias:</p>
		<ul>
			<li>Urubici - SC / (49) 3278 4371 </li>
			<li>Praia Grande - SC / (48) 3532 0134</li>
			<li>São José dos Ausentes - RS / (54) 3234 1202</li>
			<li>Cambará do Sul - RS / (54) 3251 1567</li>
			<li>Bom Jardim da Serra - SC / (49) 3232 0273</li>
		</ul>
		<br>
		<p>Mecanicas e Guinchos:</p>
		<ul>
			<li>Auto Socorro Brognoli (Urubici - SC) / (49) 3278 5074</li>
			<li>Mecanica do Jairo (Araranguá - SC) / (48) 3527 0008</li>
			<li>Auto Eletrica Araranguá (Araranguá - SC) / (48) 3522 1332</li>
			<li>Guinchos Beto Gil (Araranguá - SC) / (48) 3522 1729</li>
			<li>Mecanica Coelho Gincho 24h (Cambará do Sul - RS) / (54) 3251 1232</li>
			<li>Mecanica Macedo (Cambará do Sul - RS) / (54) 3251 7205</li>
			<li>Mecanica Tomé (Cambará do Sul - RS) / (54) 3251 1684</li>
			<li>Mecanica Cechinel (São Joaquim - SC) / (49) 3233 0194</li>
			<li>Auto Mecanica Didi (Praia Grande - SC) / (48) 3532 0022</li>
			<li>Mecanica Tramontin (São José dos Ausentes - RS) / (54) 3234 1153</li>
		</ul>
		<br>
		<p>Postos de Combustiveis:</p>
		<ul>
			<li>Posto RodoSerra (Urubici - SC) / (49) 3278 5074</li>
			<li>Posto Irmão da Estrada (Araranguá - SC) / (48) 3522 1409</li>
			<li>Posto Canyon (Cambará do Sul - RS) / (48) 3251 1608</li>
			<li>Posto Nova Serrana (São Joaquim - SC) / (49) 3233 4000</li>
			<li>Posto Ipiranga (São Joaquim - SC) / (48) 3532 0112</li>
			<li>Posto Serrano (Bom Jesus - RS) / (54) 3237 2000</li>
			<li>Posto Ipirella (Bom Jardim da Serra - SC) / (49) 3232 0198</li>
			<li>Posto Petrocesa (São José dos Ausentes - RS) / (54) 3234 1166</li>
			<li>Posto Ipiranga (Praia Grande - SC) / (48) 3532 0112</li>
		</ul>
		<br>
		<p>Postos de GNV:</p>
		<ul>
			<li>Posto Pneutur (Araranguá - SC) /(48) 3525 0900</li>
			<li>Posto Belvedere (Torres - RS) / (51) 3605 2213</li>
			<li>Posto Guarujá (Lages - SC) / (49) 3226 0054</li>
			<li>Posto Pinheiro (Criciuma - SC) / (48) 3433 1834</li>
			<li>Posto Ramar (Caxias do Sul - RS) / (54) 3213 2701</li>
			<li>Posto da Figueira (Vacaria - RS) / (54) 3232 6799</li>
		</ul>
	</div>
</div>
<br><br>