<!-- %inicio% -->

<section class="page-header" style="background-image: url(/img/fundo-internas.jpg);">
	<div class="container">
		<h2>Excursão para grupos / colégios / universidade</h2>
		<ul class="thm-breadcrumb list-unstyled">
			<li><a href="/">Home</a></li>
		</ul><!-- /.thm-breadcrumb -->
	</div><!-- /.container -->
</section><!-- /.page-header -->

<section class="blog-list">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<div class="blog-details__content">

					<br>
					<p>{%ds_excursao%}</p>
					
					<br>
					<br>
						
					<div class="row">
<!-- %while% --> 
					<div class="col-lg-4 col-md-6">
						<div class="gallery-one__single">
							<img src="/{%link%}" alt="Excursão para grupos / Colégios / Universidade - Guia Aparados da Serra" title="Excursão para grupos / Colégios / Universidade - Guia Aparados da Serra"/>
							<a class="gallery-one__link img-popup" href="/{%foto%}" alt="Excursão para grupos / Colégios / Universidade - Guia Aparados da Serra" title="Excursão para grupos / Colégios / Universidade - Guia Aparados da Serra"><i class="tripo-icon-plus-symbol"></i></a>
						</div>
					</div>
<!-- %fim% -->
					</div>
				</div><!-- /.blog-details__content -->
			</div>
		</div>
	</div>
</section>
