<!-- %inicio% -->

<section class="page-header" style="background-image: url(/img/fundo-internas.jpg);">
	<div class="container">
		<h2>Agenda de Passeios</h2>
		<ul class="thm-breadcrumb list-unstyled">
			<li><a href="/">Home</a></li>
		</ul><!-- /.thm-breadcrumb -->
	</div><!-- /.container -->
</section><!-- /.page-header -->

<section class="blog-list">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<div class="blog-details__content">

					<br>
					<div class="row">
						<div class="col-md-12">
							<h4><span>08</span>/11/16</h4>
							<a href="">
								<h3>Travessia dos Aparados da Serra. Trekking. 02 a 06 de Novembro 2016.</h3>
							</a>
						</div>
					</div>
		
					<div class="row">
						<div class="col-md-12">
							<h4><span>10</span>/11/16</h4>
							<a href="">
								<h3>Agenda de Passeios e Serviços.</h3>
							</a>
						</div>
					</div>
		
					<div class="row">
						<div class="col-md-12">
							<h4><span>20</span>/11/16</h4>
							<a href="">
								<h3>Pacote Proclamação da Republica 2016. 5 dias 4 noites.</h3>
							</a>
						</div>
					</div>
					
					<br>
					<br>
						
					<div class="row">

					</div>
				</div><!-- /.blog-details__content -->
			</div>
		</div>
	</div>
</section>

