<!-- %inicio% -->


<section class="page-header" style="background-image: url(/img/fundo-internas.jpg);">
	<div class="container">
		<h2>Parques Nacionais</h2>
		<ul class="thm-breadcrumb list-unstyled">
			<li><a href="/">Home</a></li>
		</ul><!-- /.thm-breadcrumb -->
	</div><!-- /.container -->
</section><!-- /.page-header -->

<section class="blog-list">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				
				<div class="blog-details__content">	
					<div class="row">
<!-- %while% --> 
					<div class="col-lg-4 col-md-6">
						<div class="gallery-one__single">
<!-- %foto% -->							
							<img src="/{%foto%}" class="img-fluid" />
<!-- %dados% -->
							<a class="gallery-one__link img-popup" href="{%link%}" alt="{%titulo%}"><i class="tripo-icon-plus-symbol"></i></a>
							
							<h5 style="font-family: var(--thm-font);">{%titulo%}</h5>
							<P>
								{%ds_parques%}
							</P>
							<a href="{%link%}">VER MAIS</a>
						</div>
					</div>
<!-- %fim% -->
					</div>
				</div><!-- /.blog-details__content -->
			</div>
		</div>
	</div>
</section>



