<!-- %inicio% -->


<section class="page-header" style="background-image: url(/img/fundo-internas.jpg);">
	<div class="container">
		<h2>Onde Comer</h2>
		<ul class="thm-breadcrumb list-unstyled">
			<li><a href="/">Home</a></li>
		</ul><!-- /.thm-breadcrumb -->
	</div><!-- /.container -->
</section><!-- /.page-header -->
<section class="cta-one cta-one__home-two">
	<div class="container">
		<h3>{%nm_cidade%}</h3>
		<div class="cta-one__button-block">
			<a href="/onde-comer/10/outros" class="thm-btn cta-one__btn" style="background-color: #f50744;">OUTRAS CIDADES</a><!-- /.thm-btn cta-one__btn -->
		</div><!-- /.cta-one__button-block -->
	</div><!-- /.container -->
</section>
<section class="blog-list">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				
				<div class="blog-details__content">	
					<div class="row">
<!-- %while% --> 
					<div class="col-lg-4 col-md-6">
						<div class="gallery-one__single">
							<img src="/{%foto%}"  title="{%nm_comer%}" class="img-fluid" />
							<a class="gallery-one__link img-popup" href="{%link_comer%}" alt="{%nm_comer%}"><i class="tripo-icon-plus-symbol"></i></a>
							<h5 style="font-family: var(--thm-font);">{%nm_comer%}</h5>
							<P>
								{%end_comer%}
							</P>
							<a href="{%link_comer%}">VER MAIS</a>
						</div>
					</div>
<!-- %fim_while_while% -->
					</div>
				</div><!-- /.blog-details__content -->
			</div>
		</div>
	</div>
</section>




<!-- %fim% -->



		