<!-- %inicio% -->

<section class="page-header" style="background-image: url(/img/fundo-internas.jpg);">
	<div class="container">
		<h2>Agências e Guias</h2>
		<ul class="thm-breadcrumb list-unstyled">
			<li><a href="/">Home</a></li>
		</ul><!-- /.thm-breadcrumb -->
	</div><!-- /.container -->
</section><!-- /.page-header -->

<section class="blog-list">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<div class="blog-details__content">
					<a href="/{%link%}"  title="{%nm_pousada%}" class="img-popup"><img src="/{%foto%}" alt="" class="img-fluid" /></a>
					
					<br>
					<p>{%nm_pousada%}</p>
					<p>
						{%end_pousada%}<br />
						{%tel_pousada%}<br />
						{%cel_pousada%}
					</p>
					<p>
						{%ds_pousada%}
					</p>
					<p>
						{%em_pousada%}<br />
						<strong>Site: </strong> {%st_pousada%}
					</p>
					</div>
					<br>
					<br>
						
					<div class="row">
<!-- %while% --> 
					<div class="col-lg-4 col-md-6">
						<div class="gallery-one__single">
							
							<a class="img-popup" href="/{%links%}"><img src="/{%links%}" alt="{%nm_pousada%}" title="{%tt_fotos%}" class="img-fluid" /></a>
						</div>
					</div>
<!-- %fim% -->
					</div>
				</div><!-- /.blog-details__content -->
			</div>
		</div>
	</div>
</section>
