<!-- %inicio% -->


<div class="capa-interna">
	<img src="../img/fundo-slider.jpg">

	<div class="container">
		<h2>Notícias</h2>
	</div>
</div>
<br><br>
<div class="conteudo-interna">
	<div class="container">
		<div class="noticia-lista">


			<div class="row">
				<div class="col-md-12">
					<div class="col-md-2">
						<a href="/int-noticias">
							<img class="img-responsive" src="../img/thumb-video.jpg">
						</a>
					</div>
					<div class="col-md-10">
						<a href="/int-noticias"><h4>Novo livro > Apresentação de Cambará do Sul.</h4></a>
						<p>A professora Jussara Reis da Silva lançou o livro “A Magia e o Encantamento dos Cânions de Cambará do Sul”. Na obra, a autora destaca o que a cidade tem de melhor e apresenta imagens, feitas pelo fotógrafo Evandro Cesar Modesto, dos principais pontos turísticos da cidade. Com certeza será um belo souvenir para os visitantes da região dos Aparados da Serra. O livro estará à venda por R$ 30,00 espalhados em lojas do comercio de Cambará do Sul.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-2">
						<a href="#">
							<img class="img-responsive" src="../img/thumb-video.jpg">
						</a>
					</div>
					<div class="col-md-10">
						<a href="#"><h4>Novo livro > Apresentação de Cambará do Sul.</h4></a>
						<p>A professora Jussara Reis da Silva lançou o livro “A Magia e o Encantamento dos Cânions de Cambará do Sul”. Na obra, a autora destaca o que a cidade tem de melhor e apresenta imagens, feitas pelo fotógrafo Evandro Cesar Modesto, dos principais pontos turísticos da cidade. Com certeza será um belo souvenir para os visitantes da região dos Aparados da Serra. O livro estará à venda por R$ 30,00 espalhados em lojas do comercio de Cambará do Sul.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-2">
						<a href="#">
							<img class="img-responsive" src="../img/thumb-video.jpg">
						</a>
					</div>
					<div class="col-md-10">
						<a href="#"><h4>Novo livro > Apresentação de Cambará do Sul.</h4></a>
						<p>A professora Jussara Reis da Silva lançou o livro “A Magia e o Encantamento dos Cânions de Cambará do Sul”. Na obra, a autora destaca o que a cidade tem de melhor e apresenta imagens, feitas pelo fotógrafo Evandro Cesar Modesto, dos principais pontos turísticos da cidade. Com certeza será um belo souvenir para os visitantes da região dos Aparados da Serra. O livro estará à venda por R$ 30,00 espalhados em lojas do comercio de Cambará do Sul.</p>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>


<br><br>