<!-- %inicio% -->
<section class="banner-two">
	<div class="banner-two__bg">
		<div class="banner-two__bg-inner" data-options='{ "delay": 5000, "slides": [ { "src": "assets/images/shapes/slide.jpg" }, { "src": "assets/images/shapes/slide.jpg" }, { "src": "assets/images/shapes/slide.jpg" } ], "transition": "fade", "timer": false }'></div><!-- /.banner-two__bg-inner -->
	</div><!-- /.banner-two__bg -->
	<img src="assets/images/shapes/banner-two__flotated-text.png" alt="" class="banner-two__floated-text">
	<div class="container">
		<p>explore</p>
		<h2>OS APARADOS</h2>
	</div><!-- /.container -->
</section><!-- /.banner-two -->



<section class="tour-search-one__home-two">
	<div class="container">
		<form class="tour-search-one wow fadeIn" action="tour-sidebar.html" data-wow-duration="1500ms">
			<div class="tour-search-one__inner" >
				<div class="tour-search-one__inputs" >
					<div class="tour-search-one__input-box" >
						<label for="place">O QUE VOCÊ PROCURA?</label>
						<input type="text" placeholder="Digite aqui..." name="place" id="place" >
					</div><!-- /.tour-search-one__input-box -->
					
				</div><!-- /.tour-search-one__inputs -->
				<div class="tour-search-one__btn-wrap">
					<button type="submit" class="thm-btn tour-search-one__btn">PESQUISAR</button>
				</div><!-- /.tour-search-one__btn-wrap -->
			</div><!-- /.tour-search-one__inner -->
		</form><!-- /.tour-search-one -->
	</div><!-- /.container -->
</section>


<section class="destinations-three">
	<div class="container">
		<div class="block-title text-center">
			<p>O Portal Guia Aparados da Serra</p>
			<h3>TUDO EM UM LUGAR SÓ</h3>
		</div><!-- /.block-title -->
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="destinations-three__single">
					<img src="assets/images/ondeficar.jpg" alt="">
					<div class="destinations-three__content">
						<h3><a href="/onde-ficar/3/cambara-do-sul">ONDE FICAR</a></h3>
					</div><!-- /.destinations-three__content -->
					<div class="destinations-three__hover-content">
						<h3><a href="/onde-ficar/3/cambara-do-sul">ONDE <br>FICAR</a></h3>
						
						<a href="/onde-ficar/3/cambara-do-sul" class="destinations-three__link"><i class="tripo-icon-right-arrow"></i></a>
					</div><!-- /.destinations-three__hover-content -->
				</div><!-- /.destinations-three__single -->
			</div><!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="destinations-three__single">
					<img src="assets/images/ondecomer.jpg" alt="">
					<div class="destinations-three__content">
						<h3><a href="/onde-comer/3/cambara-do-sul">ONDE COMER</a></h3>
					</div><!-- /.destinations-three__content -->
					<div class="destinations-three__hover-content">
						<h3><a href="/onde-comer/3/cambara-do-sul">ONDE <br>COMER</a></h3>
						
						<a href="/onde-comer/3/cambara-do-sul" class="destinations-three__link"><i class="tripo-icon-right-arrow"></i></a>
					</div><!-- /.destinations-three__hover-content -->
				</div><!-- /.destinations-three__single -->
			</div><!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="destinations-three__single">
					<img src="assets/images/agenciaseguias.jpg" alt="">
					<div class="destinations-three__content">
						<h3><a href="/agencias-guias/3/cambara-do-sul">AGÊNCIA E GUIAS</a></h3>
					</div><!-- /.destinations-three__content -->
					<div class="destinations-three__hover-content">
						<h3><a href="/agencias-guias/3/cambara-do-sul">AGÊNCIA E <br>GUIAS</a></h3>
						
						<a href="/agencias-guias/3/cambara-do-sul" class="destinations-three__link"><i class="tripo-icon-right-arrow"></i></a>
					</div><!-- /.destinations-three__hover-content -->
				</div><!-- /.destinations-three__single -->
			</div><!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="destinations-three__single">
					<img src="assets/images/parques.jpg" alt="">
					<div class="destinations-three__content">
						<h3><a href="/parques-nacionais">PARQUES NACIONAIS</a></h3>
					</div><!-- /.destinations-three__content -->
					<div class="destinations-three__hover-content">
						<h3><a href="/parques-nacionais">PARQUES NACIONAIS</a></h3>
						
						<a href="/parques-nacionais" class="destinations-three__link"><i class="tripo-icon-right-arrow"></i></a>
					</div><!-- /.destinations-three__hover-content -->
				</div><!-- /.destinations-three__single -->
			</div><!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-3 col-md-6">
				<div class="destinations-three__single">
					<img src="assets/images/ascidades.jpg" alt="">
					<div class="destinations-three__content">
						<h3><a href="/as-cidades">AS CIDADES</a></h3>
					</div><!-- /.destinations-three__content -->
					<div class="destinations-three__hover-content">
						<h3><a href="/as-cidades">AS CIDADES</a></h3>
						
						<a href="/as-cidades" class="destinations-three__link"><i class="tripo-icon-right-arrow"></i></a>
					</div><!-- /.destinations-three__hover-content -->
				</div><!-- /.destinations-three__single -->
			</div><!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-9 col-md-6">
				<div class="">
					<img src="assets/images/banner1.jpg" alt="" class="img-fluid">
					<div class="destinations-three__content">
						<h3></h3>
					</div><!-- /.destinations-three__content -->
					<div class="destinations-three__hover-content">
						<h3></h3>
						
						
					</div><!-- /.destinations-three__hover-content -->
				</div><!-- /.destinations-three__single -->
			</div><!-- /.col-lg-4 col-md-6 -->
			
		</div><!-- /.row -->
		
	</div><!-- /.container -->

</section><!-- /.destinations-three -->

<section class="tour-category-one">
	<div class="container">
		<div class="block-title text-center">
			<p>AVENTURA | PACOTES | SERVIÇOS</p>
			<h3>VEJA TAMBÉM</h3>
		</div><!-- /.block-title -->
		<div class="row">
			<div class="tour-category-one__col wow fadeInUp " data-wow-duration="1500ms" data-wow-delay="000ms">
				<div class="tour-category-one__single">
					<i class="tripo-icon-suitcase"></i>
					<h3><a href="http://adventure.guiaaparadosdaserra.com.br/" style="color: #042303;">Agendar <br> Passeios <br> <small>Agenda de Passeios</small></a></h3>
				</div><!-- /.tour-category-one__single -->
			</div><!-- /.tour-category-one__col -->
			<div class="tour-category-one__col wow fadeInDown " data-wow-duration="1500ms" data-wow-delay="100ms">
				<div class="tour-category-one__single">
					<i class="tripo-icon-plane-ticket"></i>
					<h3><a href="http://adventure.guiaaparadosdaserra.com.br/pacotes/100/-pacotes-feriadoes-2020.html" style="color: #042303;">Pacotes <br> Pacotes Feriadões 2021. <br> <small>Agenda de Passeios</small></a></h3>
				</div><!-- /.tour-category-one__single -->
			</div><!-- /.tour-category-one__col -->
			<div class="tour-category-one__col wow fadeInUp " data-wow-duration="1500ms" data-wow-delay="200ms">
				<div class="tour-category-one__single">
					<i class="tripo-icon-flag"></i>
					<h3><a href="http://adventure.guiaaparadosdaserra.com.br/translado" style="color: #042303;">Serviços <br> de Transfer.<br><small>Agenda de Passeios</small></a></h3>
				</div><!-- /.tour-category-one__single -->
			</div><!-- /.tour-category-one__col -->
			
		</div><!-- /.row -->
		<div class="row">
			<div class="tour-category-one__col wow fadeInDown " data-wow-duration="1500ms" data-wow-delay="300ms">
				<div class="tour-category-one__single">
					<i class="tripo-icon-flag"></i>
					<h3><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/47/aventura-trilha-do-rio-do-boi-/-praia-grande-sc-trekking.html" style="color: #042303;">Aventura Trilha <br> do Rio do Boi. Aventura de 1 dia.<br><small>Trekking / Travessias</small></a></h3>
				</div><!-- /.tour-category-one__single -->
			</div><!-- /.tour-category-one__col -->
			<div class="tour-category-one__col wow fadeInUp " data-wow-duration="1500ms" data-wow-delay="400ms">
				<div class="tour-category-one__single">
					<i class="tripo-icon-flag"></i>
					<h3><a href="http://adventure.guiaaparadosdaserra.com.br/pacotes/66/-os-grandes-canyons-6-dias-5-noites-ecoturismo-e-aventura-trekking.html" style="color: #042303;">Os Grandes Canyons.<br> 6 dias 5 noites.<br><small>Trekking / Travessias</small></a></h3>
				</div><!-- /.tour-category-one__single -->
			</div><!-- /.tour-category-one__col -->
			<div class="tour-category-one__col wow fadeInUp " data-wow-duration="1500ms" data-wow-delay="000ms">
				<div class="tour-category-one__single">
					<i class="tripo-icon-suitcase"></i>
					<h3><a href="http://adventure.guiaaparadosdaserra.com.br/pacotes/24/parques-nacionais-aparados-da-serra-geral-4-dias-3-noites-ecoturismo-e-aventura-trekking.html" style="color: #042303;">Parques Nacionais <br>Aparados da Serra e Serra Geral. 4 dias 3 noites. <br> <small>Trekking / Travessias</small></a></h3>
				</div><!-- /.tour-category-one__single -->
			</div><!-- /.tour-category-one__col -->
			
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.tour-category-one -->




<section class="cta-one cta-one__home-two">
	<div class="container">
		<h3>Faça agora o agendamento do seu passeio</h3>
		<div class="cta-one__button-block">
			<a href="http://guiaaparados.com.br/" class="thm-btn cta-one__btn" style="background-color: #f50744;">Agendar Passeios</a><!-- /.thm-btn cta-one__btn -->
		</div><!-- /.cta-one__button-block -->
	</div><!-- /.container -->
</section><!-- /.cta-one -->

<section class="tour-one">
	<div class="container">
		<div class="block-title text-center">
			<p>O QUER FAZER?</p>
			<h3>7 DICAS TOP</h3>
		</div><!-- /.block-title -->
		<div class="tour-one__carousel tour-one__carousel-no-overflow thm__owl-carousel  owl-carousel owl-theme" data-options='{"nav": false, "autoplay": true, "autoplayTimeout": 5000, "smartSpeed": 700, "dots": true, "margin": 30, "loop": true, "responsive": { "0": { "items": 1, "nav": true, "navText": ["Anterior", "Próxima"], "dots": false }, "767": { "items": 1, "nav": true, "navText": ["Anterior", "Próxima"], "dots": false }, "991": { "items": 2 }, "1199": { "items": 2 }, "1200": { "items": 3 } }}'>
			
			<div class="item">
				<div class="tour-one__single">
					<div class="tour-one__image">
						<img src="assets/images/adventure_capa/1.jpg" alt="">
						<a href="http://adventure.guiaaparadosdaserra.com.br/passeios/47/aventura-trilha-do-rio-do-boi-/-praia-grande-sc-trekking.html"><i class="fa fa-heart"></i></a>
					</div><!-- /.tour-one__image -->
					<div class="tour-one__content">
						<h3><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/47/aventura-trilha-do-rio-do-boi-/-praia-grande-sc-trekking.html">Aventura Trilha do Rio do Boi \ Praia Grande – SC. (Trekking)</a></h3>
						<ul class="tour-one__meta list-unstyled">
							<li><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/47/aventura-trilha-do-rio-do-boi-/-praia-grande-sc-trekking.html"><i class="far fa-clock"></i> 10hs de Aventura</a></li>
						</ul><!-- /.tour-one__meta -->
					</div><!-- /.tour-one__content -->
				</div><!-- /.tour-one__single -->
			</div><!-- /.item -->

			<div class="item">
				<div class="tour-one__single">
					<div class="tour-one__image">
						<img src="assets/images/adventure_capa/2.jpg" alt="">
						<a href="http://adventure.guiaaparadosdaserra.com.br/passeios/53/aventura-trilha-do-tigre-preto-interior-do-canyon-fortaleza/-j-machado-sc-trekking.html"><i class="fa fa-heart"></i></a>
					</div><!-- /.tour-one__image -->
					<div class="tour-one__content">
						<h3><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/53/aventura-trilha-do-tigre-preto-interior-do-canyon-fortaleza/-j-machado-sc-trekking.html">Aventura Trilha do Tigre Preto ( Interior do Canyon Fortaleza). Aventura de 1 dia</a></h3>
						<ul class="tour-one__meta list-unstyled">
							<li><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/53/aventura-trilha-do-tigre-preto-interior-do-canyon-fortaleza/-j-machado-sc-trekking.html"><i class="far fa-clock"></i> 12hs de Aventura</a></li>
						</ul><!-- /.tour-one__meta -->
					</div><!-- /.tour-one__content -->
				</div><!-- /.tour-one__single -->
			</div><!-- /.item -->
			
			<div class="item">
				<div class="tour-one__single">
					<div class="tour-one__image">
						<img src="assets/images/adventure_capa/3.jpg" alt="">
						<a href="http://adventure.guiaaparadosdaserra.com.br/passeios/56/cavalgada-canyon-pinheirinho-/-cambara-do-sul--rs-cavalgada.html"><i class="fa fa-heart"></i></a>
					</div><!-- /.tour-one__image -->
					<div class="tour-one__content">
						<h3><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/56/cavalgada-canyon-pinheirinho-/-cambara-do-sul--rs-cavalgada.html">Cavalgada Canyon Pinheirinho \ Cambará do Sul - RS. (Cavalgada)</a></h3>
						<ul class="tour-one__meta list-unstyled">
							<li><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/56/cavalgada-canyon-pinheirinho-/-cambara-do-sul--rs-cavalgada.html"><i class="far fa-clock"></i> 05hs de Aventura</a></li>
						</ul><!-- /.tour-one__meta -->
					</div><!-- /.tour-one__content -->
				</div><!-- /.tour-one__single -->
			</div><!-- /.item -->

			<div class="item">
				<div class="tour-one__single">
					<div class="tour-one__image">
						<img src="assets/images/adventure_capa/4.jpg" alt="">
						<a href="http://adventure.guiaaparadosdaserra.com.br/passeios/43/passeio-canyon-fortaleza--cambara-do-sul.html"><i class="fa fa-heart"></i></a>
					</div><!-- /.tour-one__image -->
					<div class="tour-one__content">
						<h3><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/43/passeio-canyon-fortaleza--cambara-do-sul.html">Passeio Canyon Fortaleza \ Cambará do Sul – RS. (Caminhada \ Trekking)</a></h3>
						<ul class="tour-one__meta list-unstyled">
							<li><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/43/passeio-canyon-fortaleza--cambara-do-sul.html"><i class="far fa-clock"></i> 05hs de Passeio</a></li>
						</ul><!-- /.tour-one__meta -->
					</div><!-- /.tour-one__content -->
				</div><!-- /.tour-one__single -->
			</div><!-- /.item -->

			<div class="item">
				<div class="tour-one__single">
					<div class="tour-one__image">
						<img src="assets/images/adventure_capa/5.jpg" alt="">
						<a href="http://guiaaparadosdaserra.com.br/#:~:text=%C2%BB%20Passeio%20Canyon%20Itaimb%C3%A9zinho%20%5C%20Cambar%C3%A1%20do%20Sul%20%E2%80%93%20RS.%20(Caminhada%20%5C%20Trekking)."><i class="fa fa-heart"></i></a>
					</div><!-- /.tour-one__image -->
					<div class="tour-one__content">
						<h3><a href="http://guiaaparadosdaserra.com.br/#:~:text=%C2%BB%20Passeio%20Canyon%20Itaimb%C3%A9zinho%20%5C%20Cambar%C3%A1%20do%20Sul%20%E2%80%93%20RS.%20(Caminhada%20%5C%20Trekking).">Passeio Canyon Itaimbézinho \ Cambará do Sul – RS. (Caminhada \ Trekking).</a></h3>
						<ul class="tour-one__meta list-unstyled">
							<li><a href="http://guiaaparadosdaserra.com.br/#:~:text=%C2%BB%20Passeio%20Canyon%20Itaimb%C3%A9zinho%20%5C%20Cambar%C3%A1%20do%20Sul%20%E2%80%93%20RS.%20(Caminhada%20%5C%20Trekking)."><i class="far fa-clock"></i> 05hs de Passeio</a></li>
						</ul><!-- /.tour-one__meta -->
					</div><!-- /.tour-one__content -->
				</div><!-- /.tour-one__single -->
			</div><!-- /.item -->

			<div class="item">
				<div class="tour-one__single">
					<div class="tour-one__image">
						<img src="assets/images/adventure_capa/6.jpg" alt="">
						<a href="http://adventure.guiaaparadosdaserra.com.br/passeios/44/passeio-rota-4x4-das-cachoeiras-/-cambara-do-sul-rs-off-road.html"><i class="fa fa-heart"></i></a>
					</div><!-- /.tour-one__image -->
					<div class="tour-one__content">
						<h3><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/44/passeio-rota-4x4-das-cachoeiras-/-cambara-do-sul-rs-off-road.html">Passeio Rota 4x4 das Cachoeiras \ Cambará do Sul – RS. (Off Road)</a></h3>
						<ul class="tour-one__meta list-unstyled">
							<li><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/44/passeio-rota-4x4-das-cachoeiras-/-cambara-do-sul-rs-off-road.html"><i class="far fa-clock"></i> 05hs de Passeio</a></li>
						</ul><!-- /.tour-one__meta -->
					</div><!-- /.tour-one__content -->
				</div><!-- /.tour-one__single -->
			</div><!-- /.item -->

			<div class="item">
				<div class="tour-one__single">
					<div class="tour-one__image">
						<img src="assets/images/adventure_capa/7.jpg" alt="">
						<a href="http://adventure.guiaaparadosdaserra.com.br/passeios/54/passeio-cachoeira-dos-venancios--/-cambara-do-sul-rs-caminhada.html"><i class="fa fa-heart"></i></a>
					</div><!-- /.tour-one__image -->
					<div class="tour-one__content">
						<h3><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/54/passeio-cachoeira-dos-venancios--/-cambara-do-sul-rs-caminhada.html">Visita a Cachoeira dos Venancios.</a></h3>
						<ul class="tour-one__meta list-unstyled">
							<li><a href="http://adventure.guiaaparadosdaserra.com.br/passeios/54/passeio-cachoeira-dos-venancios--/-cambara-do-sul-rs-caminhada.html"><i class="far fa-clock"></i> 02:30hs de Passeio</a></li>
						</ul><!-- /.tour-one__meta -->
					</div><!-- /.tour-one__content -->
				</div><!-- /.tour-one__single -->
			</div><!-- /.item -->



		</div><!-- /.tour-one__carousel -->
	</div><!-- /.container -->
</section><!-- /.tour-one -->


<section class="cta-four" style="background-image: url(assets/images/bannermeio.jpg);">
	<div class="container">
		<p>Visite Costão do Cambará</p>
		<h3>HOTEL <span>FAZENDA</span></h3>
		<a href="https://www.costaodocambara.com/" class="thm-btn cta-four__btn">Acesse Agora</a><!-- /.thm-btn -->
	</div><!-- /.container -->
</section><!-- /.cta-four -->




<section class="blog-one">
	<div class="container">
		<div class="block-title text-center">
			<p>Notícias</p>
			<h3>Aparados da Serra</h3>
		</div><!-- /.block-title -->

		<div class="row">

<!-- %noticias% -->			
			<div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
				<div class="blog-one__single">
					
					<div class="blog-one__content">
						<ul class="list-unstyled blog-one__meta">
						</ul><!-- /.list-unstyled blog-one__meta -->
						<h3><a href="{%link%}" alt="{%titulo%}" title="{%titulo%}">{%titulo%}
						</a></h3>
					</div><!-- /.blog-one__content -->
				</div><!-- /.blog-one__single -->
			</div><!-- /.col-lg-4 -->
<!-- %fim_noticias% -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.blog-one -->

<section class="tour-two tour-list">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="tour-details__content">
							<h3 class="tour-details__title">Clique e Informe-se</h3><!-- /.tour-details__title -->

                            <div class="tour-details__plan">
<!-- %informe-se% -->                                
								<div class="tour-details__plan-single">
                                    <div class="tour-details__plan-count">
                                        {%count%}
                                    </div><!-- /.tour-details__plan-count -->
                                    <div class="tour-details__plan-content">
                                        <a href="{%link%}" alt="{%titulo%}" title="{%titulo%}">
										<h3>{%titulo%}</h3>
										
										<span></span>
                                        <p>{%desc%}
                                        </p>
									</a>
                                    </div><!-- /.tour-details__plan-content -->
                                </div><!-- /.tour-details__plan-single -->
<!-- %fim_informe-se% -->
							</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="brand-one brand-one__home-two">
	<div class="container">
		<div class="brand-one__carousel owl-theme owl-carousel thm__owl-carousel" data-options='{"nav": false, "autoplay": true, "autoplayTimeout": 5000, "smartSpeed": 700, "dots": false, "margin": 115, "responsive": { "0": { "items": 2, "margin": 20 }, "480": { "items": 2, "margin": 20 }, "767": { "items": 3, "margin": 20 }, "991": { "items": 4, "margin": 40 }, "1199": { "items": 5 } }}'>
<!-- %while_parceiros% -->			
			<div class="item">
				<a href="{%link%}" target="blank"><img src="/{%foto%}" alt="Aparados da Serra Parceiros" title="Aparados da Serra Parceiros"></a>
			</div><!-- /.item -->
<!-- %fim_parceiros% -->
			
		</div><!-- /.brand-one__carousel owl-theme owl-carousel thm__owl-carousel -->
	</div><!-- /.container -->
</div><!-- /.brand-one -->