<!-- %inicio% -->	
	<script type="text/javascript" src="/jscript/jquery2.js"></script>
	<script type="text/javascript" src="/jscript/jquery.validate.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('#formPropostas').validate();
		});
	</script>
	<script type="text/javascript" src="/jscript/mascaras.js"></script>
	
					<div class="agrupaContInterna">
						<div class="agrupaTituloInterna">
							<p class="tituloInterna tituloAzul">Depoimentos</p>
						</div>
<!-- %depoimentos% -->
						<div class="agrupaOpcoesInterna">
							<div class="agrupaTxtInterna">

								<h2>{%nome%}</h2>
								<h2>{%cidade%} - {%estado%}</h2>
								{%texto%}
							</div>
						</div>
<!-- %fim_depoimentos% -->					

						<div class="agrupaGaleriaInterna">
						
							<div class="agrupaFormulario">
								<div class="tituloInterna tituloDepoimentos">Deixe aqui seu Depoimento</div>
								<form action="/depoimentos/enviar" class="formulario" id="formPropostas" method="post"> 
									<div class="linhaForm">
										<label class="labelComum" for="nome">
											Nome:
										</label>
										<input type="text" class="inputComum required" id="nome" name="nome" />
									</div>
									<div class="linhaForm">
										<label class="labelComum" for="email">
											E-mail:
										</label>
										<input type="text" class="inputComum required" id="email" name="email" />
									</div>

									<div class="linhaForm">
										<label class="labelComum" for="cidade">
											Cidade:
										</label>
										<input type="text" class="inputComum cidade" id="cidade" name="cidade" />
										<label class="labelComum uf" for="uf">
											UF:
										</label>
										<select class="selectUF" id="uf" name="uf">
											<option>AC</option>
											<option>AL</option>
											<option>AP</option>
											<option>AM</option>
											<option>BA</option>
											<option>CE</option>
											<option>DF</option>
											<option>ES</option>
											<option>GO</option>
											<option>MA</option>
											<option>MT</option>
											<option>MS</option>
											<option>MG</option>
											<option>PA</option>
											<option>PB</option>
											<option>PR</option>
											<option>PE</option>
											<option>PI</option>
											<option>RJ</option>
											<option>RN</option>
											<option>RS</option>
											<option>RO</option>
											<option>RR</option>
											<option selected="selected">SC</option>
											<option>SP</option>
											<option>SE</option>
											<option>TO</option>
										</select>
									</div>
									
									<div class="linhaForm">
										<label class="labelComum" for="mensagem">
											Mensagem:
										</label>
										<textarea class="textArea required" id="mensagem" name="mensagem" rows="1" cols="1"></textArea>
									</div>
									<input type="image" src="/imagens/btEnviar.png" alt="Enviar" title="Enviar" class="btEnviar"/>
								</form>
							</div>		
						</div>
					</div>		