<!-- %while% -->
					<div class="pacotesCapa">

						<div class="imgPacoteCapa">
							<a href="/{%link%}">
								<img src="/{%foto%}" alt="" />
							</a>
						</div>
						<div class="titPacotesCapa">
							<a href="/{%link%}">{%nome%}</a>
						</div>
						<a href="/{%link%}" class="txPacotesCapa">{%descricao%}</a>
					</div>	
<!-- %fim_while% -->		
					<div class="cemporcento">
						<div class="linkMais">
							<a href="/pacotes" title="Mais Pacotes">+ mais pacotes</a>
						</div>
						<div class="linkMais linkMaisRight">
							<a href="/passeios" title="Mais Passeios">+ mais passeios</a>
						</div>
					</div>			
<!-- %videos% -->
					<div class="videosCapa">
						<h1>Vídeo da Empresa \ Agência. </h1>
						{%video1%}
					</div>


					<div class="videosCapa">
						<h1>CONTATOS:</h1> <br> <br>
						e-mail: guia@guiaaparadosdaserra.com.br <br>
						Fone: (54) 3251 1173 Comercial. <br>
						      	(54) 8133 4772 Celular Op. Tim. <br>
						        (54) 9932 4107 Celular Op. Vivo.<img style="float:right; margin-right:160px;" src="../imagens/wpp.png">
						        <br>
						        <br>
						        <br>

						<b>Horários de Funcionamento:</b> <br><br>
						<b>De Segunda</b> <br>
						das 08:00hs as 11:30hs e <br>
						das 13:00hs as 19:00hs<br><br>

						<b>De Terça a Sábado:</b> <br>
						das 08:00hs as 20:00hs<br><br>

						<b>Domingo</b> <br>
						das 08:00hs as 11:00hs e <br>
						das 13:00hs as 14:00hs 
						<br><br>

						<b>Feriadões e período de Férias</b> <br>
						das 08:00hs as 20:00hs <br> <br>

					</div>

					<div class="videosCapa">
						<h1>Vídeo Aventuras e Fauna</h1>
						{%video2%}
					</div>
					
					<div id="sociais">
						<a href="https://www.facebook.com/guiaaparados.daserra.9?fref=ts" title="Curta nossa Página!" target="blank">
							<img src="imagens/facebook.png" />
						</a>

						<a href="https://twitter.com/GuiaAparados" title="Siga-nos" target="blank">
							<img src="imagens/twitter.png" />
						</a>

						<a href="https://www.instagram.com/guia_aparados/" title="Siga-nos" target="blank">
							<img src="imagens/instagram.png" />
						</a>
					</div>