<!-- %while% -->
					<div class="pacotesCapa">

						<div class="imgPacoteCapa">
							<a href="/{%link%}">
								<img src="/{%foto%}" alt="" />
							</a>
						</div>
						<div class="titPacotesCapa">
							<a href="/{%link%}">{%nome%}</a>
						</div>
						<a href="/{%link%}" class="txPacotesCapa">{%descricao%}</a>
					</div>	
<!-- %fim_while% -->		
					<div class="cemporcento">
						<div class="linkMais">
							<a href="/pacotes" title="Mais Pacotes">+ mais pacotes</a>
						</div>
						<div class="linkMais linkMaisRight">
							<a href="/passeios" title="Mais Passeios">+ mais passeios</a>
						</div>
					</div>			
<!-- %videos% -->
					<div class="videosCapa">
						{%video1%}
					</div>

					<div class="videosCapa">
						<h1>CONTATOS:</h1> <br> <br>
						e-mail: guia@guiaaparadosdaserra.com.br <br>
						Fone: (54) 3251 1173 Comercial. <br>
						         (54) 8133 4772 Celular Op. Tim. <br> <br>
						<b>Horários de Funcionamento:</b> <br>
						<b>De Segunda a Terça</b> <br>
						das 08:30hs as 12:00hs e <br>
						das 13:30hs as 18:00hs. <br> <br>

						<b>De Quarta a Sábado </b> <br>
						das 08:30hs as 12:00hs e <br>
						das 13:30hs as 20:00hs. <br> <br>

						<b>Domingo </b> <br>
						das 08:30hs as 12:00hs e <br>
						das 13:30hs as 16:00hs. <br><br>

						<b>Feriadões e período de Férias</b> <br>
						das 08:00hs as 20:00hs <br> <br>
						<b>Plantão para atendimento no celular até</b> <br>
						as 22:00hs.
					</div>
					<!-- <div class="videosCapa">
						{%video2%}
					</div> -->