<!-- %inicio% -->
					<div class="agrupaContInterna">
						<div class="agrupaTituloInterna">
							<p class="tituloInterna tituloAzul">Reportagens</p>
						</div>

						<div class="agrupaTxt2Interna" >
							<h2>{%nome%}</h2>
							{%descricao%}
						</div>
						<div class="agrupaGaleriaInterna">
<!-- %while% -->
							<a href="/{%link%}" title="{%tt_foto%}" class="lightbox">
								<img src="/{%foto%}" alt="" />
							</a>	
<!-- %fim% -->							
						</div>
					</div>	
					
					