<!-- %while% -->
					<div class="pacotesCapa">

						<div class="imgPacoteCapa">
							<a href="/{%link%}">
								<img src="/{%foto%}" alt="" />
							</a>
						</div>
						<div class="titPacotesCapa">
							<a href="/{%link%}">{%nome%}</a>
						</div>
						<a href="/{%link%}" class="txPacotesCapa">{%descricao%}</a>
					</div>	
<!-- %fim_while% -->
					<div class="cemporcento">
						<div class="linkMais">
							<a href="/pacotes" title="Mais Pacotes e Passeios">+ Mais pacotes e passeios</a>
						</div>
					</div>
<!-- %videos% -->
					<div class="videosCapa">
						{%video1%}
					</div>
					<div class="videosCapa">
						{%video2%}
					</div>