/* estrutura */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, input, select, option,
form, label, textarea, table, caption,
tbody, tfoot, thead, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 13px;
    font-family: 'Arial';
    vertical-align: baseline;
    color: #000;
    float: left;
    text-align: left;
}

:focus{
    outline: 0;
}
html{
    width: 100%;
	background-color: #181911;
	background-repeat: repeat-x;
    background-position: top left;
    background-image: url("../imagens/bgTopo.png");
	
}
body{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.3;
    
}

.cemporcento {
	width: 100%;
}
.global {
	width: 100%;
    text-align: center;
    margin: 0 auto;
	background-repeat: repeat-x;
    background-position: bottom left;
    background-image: url("../imagens/bgRodape.png");
}
ol, ul{
    list-style: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td{
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after{
    content: "";
}
blockquote, q{
    quotes: "" "";
}
br, strong{
    float: none;
    color: inherit;
}
strong{
    font-weight: bold;
}
.right {
    float: right;
}
.none{
    float: none;
    text-decoration: none;
}
.hidden{
    display: none;
}
/*estrutura*/

.agrupaSite {
    width: 1004px;
    margin: 0 auto;
    text-align: center;
    float: none;
}
.agrupaTopo {
    width: 1004px;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url("../imagens/mapaTopo.jpg");
}
.agrupaMenu {
    width: 1004px;
    height: 35px;
    padding: 0px 50px;
    background-color: #00385C;
}
a.linkLogo {
	margin: 26px 0px 0px 16px;
	display: inline;
}
.agrupaBtTranslate {
	float: right;
}
a.btTranslate {
	width: 142px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url("../imagens/btTranslate.png");
	text-align: center;
	padding-top: 7px;
	font-weight: bold;
}
a.btTranslate:hover {
	background-position: top right;
}
.agrupaBusca {
	clear: both;
	width: 262px;
	height: 24px;
	margin-top: 17px;
	padding: 10px;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url("../imagens/fundoBusca.png");
}
.labelBusca {
	width: 60px;
	text-align: right;
	padding-top: 4px;
}
.labelBusca img {
	float: none;
}
.inputBusca {
	background-color: #fff;
	border: 1px solid #809DB9;
	padding: 1px;
	margin: 4px 6px 0px 4px;
	display: inline;
	width: 147px;
}
.menu {
	width: 1004px;
	height: 44px;
	margin-top: 28px;
	margin-bottom: 8px;
}
a.menuPrincipalLink {
	font-size: 15px;
	margin-right: 23px;
	margin-left: 23px;
	margin-top: 12px;
	display: inline;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
a.menuPrincipalLink:hover, a.menuPrincipalLinkSemBarra:hover {
	margin-top: 11px;
}
a.menuPrincipalLinkSemBarra {
	font-size: 15px;
	margin-top: 12px;
	margin-left: 23px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

/*conteudo*/
.topoConteudo {
	width: 1004px;
	height: 150px;
	border-bottom: 1px solid white;
}
.conteudo {
	width: 970px;
	margin: 18px;
	color: #fff;
}
.destaqueConteudo {
	width: 608px;
	height: 162px;
	background-color: #6F735E;
}
.destaque2Conteudo { 
	width: 332px;
	height: 150px;
	margin-left: 20px;
	padding: 5px;
	font-size: 12px;
	color: #fff;
	background-color: #363724;
}
.principal {
	width: 766px;
}
.lateral {
	width: 203px;
	margin-top: 20px;
}
.menuConteudo {
	width: 203px;
	background-color: #9C7D03; 
}
.menuConteudo li {
	width: 203px;
	height: 35px;
	border-bottom: 2px solid black;
}
.menuConteudo span {
	width: 196px;
	height: 35px;
	background-color: white;
} 
.menuConteudo a {
	font: bold 13px arial;
	color: #2B400B;
	margin-right: 10px;
	float: right;
	margin-top: 8px;
}
.bannerSegura {
	float: right;
	margin-top: 10px;
	border: 17px solid white;
}

/**/
.agrupaRodape {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 18px;
}
.fundoCoisas {
	
}
.conteudoRodape {
    width: 980px;
    margin: 0 auto;
    float: none;
    text-align: center;
}
.imagemBixos {
	margin-left: 60px;
	display: inline;
}
.descRodape {
	padding: 15px 0px 10px;
	color: white;
	width: 656px;
}
.agrupaZaib {
	width: 100px;
	color: white;
	float: right;
	font-size: 10px;	
	text-align: right;
}
.agrupaZaib a {
	text-decoration: none;
	color: white;
	font-size: 10px;
	float: right;
}
.agrupaZaib a:hover {
	text-decoration: underline;
}
.atualizacao{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
span.branco{
    width: 100%;
    display: inline;
    text-align: center;
    background-color: #FFF;
}
/*home*/
.agrupaInformes {
	width: 596px;
	border-bottom: 4px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
a.linkTituloInforme {
	font-weight: bold;
	text-decoration: none;
}
a.linkTituloInforme:hover {
	text-decoration: underline;
}
a.linkTextoInforme {
	text-decoration: none;
}
a.linkTextoInforme:hover {
	text-decoration: underline;
}
.tituloInformeInterna {
	float: left;
	width: 358px;
	padding-bottom: 3px;
}

.tituloDepoimentos{
	font-size: 20px;
	color: #fff;
	margin-left: 100px;
}
.linkMais {
	margin-top: 20px;
}

.linkMaisRight {
	margin-left: 180px;
}

.linkMais a{
	color: #FFA722;
	font-size: 20px;
	text-decoration: underline;
}

.linkMais a:hover {
	color: #fff;
}

