<!-- %inicio% -->

<div class="container">
		<br><br>
		<div class="titulo-pacotes-passeios">
			<h3 class="title-interna">PACOTES APARADOS DA SERRA</h3>
		</div>
		<br>


		<div class="row">
<!-- %while% -->
			<div class="col-md-4">
				<figure class="snip1567">
<!-- %foto% -->
				  <img src="/{%foto%}" alt="{%nome%}" title="{%nome%}" />
				  <figcaption>
<!-- %dados% -->
				    <h3>{%nome%}</h3>
				    <p>{%descricao%}</p>
				  </figcaption>
				  <div class="hover"></div><i class="ion-android-add"></i>
				  <a href="{%link%}"></a>
				</figure>
			</div>
<!-- %fim% -->
		</div>

</div>


<br>
<br>
<script type="text/javascript">
	
	
 //  	$(".snip1567").addClass("hover");
	
	// object.onmouseover=function(){myScript};
	
	// $(document).ready(function(){
	//    $(".snip1567").onmouseover(function(){
	//       $('.snip1567').removeClass('hover');
	//    });
	// });


</script>