<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">FOTOS</h3>
  </div>
  <div id="demo" class="carrosel-parceiros">
    <div class="span12">
      <div id="corrosel-interna" class="owl-carousel">
<!-- %while% -->
        <div class="item">
          <a class="example-image-link" data-lightbox="example-set" href="/{%link%}" data-title="Fotos nos Aparados da Serra" title="Fotos nos Aparados da Serra">
            <img src="/{%foto%}" class="img-responsive example-image" alt="{%nome%}" title="{%nome%}">
          </a>
        </div>
<!-- %fim% -->
      </div>
    </div>
  </div>

</div>
<br>
<br>