<!-- %inicio% -->



<div class="slider-principal">
    <div id="demo">
      <div class="span12">
        <div id="owl-demo" class="owl-carousel">
<!-- %while_destaques% -->
			<div class="item"><a href="#"><img src="{%foto_destaque%}" alt=""></a></div>
<!-- %fim_while_destaques% -->
        </div>
      </div>
    </div>
</div>



<div class="pacotes-passeios">
	<div class="container">

<!-- 		<div class="">
			<a href="http://costaodocambarahotelfazenda.com" target="blank">
				<img style="width:100% !important;margin-bottom: 100px;margin-top:10px;" class="img-responsive" src="/img/banner-corpo-site.jpg">
			</a>
		</div> -->

		<div class="titulo-pacotes-passeios">
			<img src="../img/titulo-passeios.png">
		</div>

		<div class="row">
<!-- while -->
			<!-- <div class="col-md-4">
				<figure class="snip1567">
				  <img src="/{%foto%}" alt="sample88" />
				  <figcaption>
				    <h3>{%nome%}</h3>
				    <p>{%descricao%}</p>
				  </figcaption>
				  <div class="hover"></div><i class="ion-android-add"></i>
				  <a href="/{%link%}"></a>
				</figure>
			</div> -->
<!-- fim_while -->

			<div class="col-md-4">
				<figure class="snip1567">
				  <img src="/fotos/med_passeios_fotos_2015_06_25__17_29_15_c43_r22z76k79g92s.jpg" alt="" title="" />
				  <figcaption>
				    <h3>.Passeio Canyon Fortaleza - Cambará do Sul</h3>
				    <p>05hs de Passeio – Deslocamento de 46km (ida e volta) – 7km de trilhas (Trilhas do Mirante e Pedra do Segredo) -  Trekking nível leve.
Passeio inic...</p>
				  </figcaption>
				  <div class="hover"></div><i class="ion-android-add"></i>
				  <a href="passeios/43/passeio-canyon-fortaleza--cambara-do-sul.html"></a>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="snip1567">
				  <img src="/fotos/med_passeios_fotos_2021_10_09__16_08_26_c42_r52y98r99e09s.jpg" alt=".Passeio Canyon Fortaleza - Cambará do Sul" title=".Passeio Canyon Fortaleza - Cambará do Sul" />
				  <figcaption>
				    <h3>.Passeio Canyon Itaimbézinho -  Cambará do Sul.</h3>
				    <p>05hs de Passeio – Deslocamento de 36km (ida e volta) – 8km de trilhas (Trilhas do Cotovelo e Vértice) -  Trekking nível leve.
Passeio inicia em Ca...</p>
				  </figcaption>
				  <div class="hover"></div><i class="ion-android-add"></i>
				  <a href="passeios/42/passeio-canyon-itaimbezinho--cambara-do-sul.html"></a>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="snip1567">
				  <img src="/fotos/med_passeios_fotos_2015_06_25__18_49_19_c44_r38m01q08r80z.jpg" alt=".Passeio Canyon Itaimbézinho -  Cambará do Sul." title=".Passeio Canyon Itaimbézinho -  Cambará do Sul." />
				  <figcaption>
				    <h3>.Passeio Rota 4x4 das Cachoeiras  \ Cambará do Sul – RS. (Off Road)</h3>
				    <p>05hs de Passeio – Deslocamento de 90km (Ronda) – 500metros de caminhada \ trilhas -Nível leve.
Passeio inicia em Cambará do Sul, podendo o serviço...</p>
				  </figcaption>
				  <div class="hover"></div><i class="ion-android-add"></i>
				  <a href="passeios/44/passeio-rota-4x4-das-cachoeiras-\-cambara-do-sul-rs-off-road.html"></a>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="snip1567">
				  <img src="/fotos/med_passeios_fotos_2018_09_20__16_36_32_c77_r84u73y18r02t.jpg" alt=".Passeio Rota 4x4 das Cachoeiras  \ Cambará do Sul – RS. (Off Road)" title=".Passeio Rota 4x4 das Cachoeiras  \ Cambará do Sul – RS. (Off Road)" />
				  <figcaption>
				    <h3>Aventura Borda Sul (Canyon Fortaleza) \ Cambará do Sul - RS. (Trekking)</h3>
				    <p>07hs de Aventura – Deslocamento de 46km (ida e volta)– 13km de trilhas -  Trekking nível Moderado. (SOMENTE PARA PARTICIPANTES ACIMA DE 9 ANOS)
Pa...</p>
				  </figcaption>
				  <div class="hover"></div><i class="ion-android-add"></i>
				  <a href="passeios/77/aventura-borda-sul-canyon-fortaleza-\-cambara-do-sul--rs-trekking.html"></a>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="snip1567">
				  <img src="/fotos/med_passeios_fotos_2015_06_25__19_29_00_c47_r04r24i13o17h.jpg" alt="Aventura Piscina do Malacara \ Praia Grande – SC. (Trekking)" title="Aventura Piscina do Malacara \ Praia Grande – SC. (Trekking)" />
				  <figcaption>
				    <h3>Aventura Trilha do Rio do Boi \ Praia Grande – SC. (Trekking)</h3>
				    <p>10hs de Aventura – Deslocamento de 98km (ida e volta) – 14km de trilhas -  Trekking nivel Intenso. (SOMENTE PARA PARTICIPANTES ACIMA DE 11 ANOS)
P...</p>
				  </figcaption>
				  <div class="hover"></div><i class="ion-android-add"></i>
				  <a href="passeios/47/aventura-trilha-do-rio-do-boi-\-praia-grande-sc-trekking.html"></a>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="snip1567">
				  <img src="/fotos/med_passeios_fotos_2015_06_27__11_02_12_c56_r66r05v04q12q.jpg" alt="Cavalgada Canyon Cambajuva \ Cambará do Sul - RS. (Cavalgada)" title="Cavalgada Canyon Cambajuva \ Cambará do Sul - RS. (Cavalgada)" />
				  <figcaption>
				    <h3>Cavalgada Canyon Pinheirinho \ Cambará do Sul - RS. (Cavalgada)</h3>
				    <p>05hs de Aventura – Deslocamento de 40km (ida e volta em estrada de chão batido pedregoso) – 03hs a cavalo -  Cavalgada nível moderado.
Passeio ini...</p>
				  </figcaption>
				  <div class="hover"></div><i class="ion-android-add"></i>
				  <a href="passeios/56/cavalgada-canyon-pinheirinho-\-cambara-do-sul--rs-cavalgada.html"></a>
				</figure>
			</div>
			
		</div>

	</div>
</div>


<div class="menu-area-atendimento">
	<div class="container">
		<ul>
			<li><a href="/excursao-para-grupos">Excursão para grupos</a></li>
			<li><a href="/nivel-das-atividades">Nível das atividades</a></li>
			<li><a href="/informacoes">Política de Reservas</a></li>
			<li><a href="/guias">Guias</a></li>
			<li><a href="/galeria-de-fotos">Fotos</a></li>
			<li><a href="/reportagens">Reportagens</a></li>
		</ul>
	</div>
</div>
<div class="area-atendimento">
	<div class="container">
		<div class="col-md-3">

			<p>Horários de Funcionamento</p>
			<ul>
				<p>De Segunda e Terça </p>
				<li>das 08:00hs as 11:30hs</li>
				<li>das 13:00hs as 17:30hs</li>

				<p>De Quarta a Sábado </p>
				<li>das 08:00hs as 11:30hs</li>
				<li>das 13:00hs as 19:00hs</li>

				<p>Domingo </p>
				<li>das 08:00hs as 11:00hs</li>
				<li>das 13:00hs as 14:00hs </li>
				
				<p>Feriadões e período de Férias </p>
				<li>das 08:00hs as 11:30hs </li>
				<li>das 13:00hs as 20:00hs </li>
			</ul>

		</div>
		<div class="col-md-9">

	      <div id="demo" class="carrosel-parceiros">
            <div class="span12">
              <div id="corrosel-parceiros" class="owl-carousel">
<!-- %while_parc% -->
                <div class="item"><img src="{%foto%}" alt="" width="200" height="auto"></div>
<!-- %fim_% -->
              </div>
            </div>
	      </div>

		</div>
	</div>
</div>

<div class="area-videos-capa">
	<div class="container">
		<div class="col-md-6">
			<br>
<!-- %videos% -->
			<div class="videoWrapper">
			    {%video1%}
			</div>
		</div>
		<div class="col-md-6">
			<br>
			<div class="videoWrapper">
			    {%video2%}
			</div>
		</div>	
	</div>
</div>