<!-- %inicio% -->
<br>
<br>

<div class="container">

  <div class="titulo-pacotes-passeios">
    <h3 class="title-interna">GUIAS</h3>
  </div>
  <br>

  <div class="interna-conteudo">
    <div class="row">
<!-- %while% -->
        <div class="col-md-3">
          <figure class="snip0046 yellow">
<!-- %foto% -->
            <img src="/{%foto%}" alt="{%nome%}" title="{%nome%}" />
<!-- %dados% -->
            <h3>{%nome%}</h3>
            <div class="icons">
              <a href="/{%link%}"><i class="ion-social-googleplus">» Conhecer</i></a>
            </div>

          </figure>
        </div>
<!-- %fim% -->
      
    </div>
  </div>

</div>

<br>
<br>