@media only screen and (max-width: 650px) {
  .container {
  float: none;
  width: 100%;
  /*margin: auto;*/
  }
  
  .news {
    width: 400px;
  }

  .news .more {
  float: none;
  width: 230px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
  float: none;
  width: 100%;
  /*margin: auto;*/
  }
  
  .news {
    width: 290px;
  }

  .news .more {
  float: none;
  width: 230px;
  }
}

@media only screen and (max-width: 350px) {
  .container {
  float: none;
  width: 100%;
  /*margin: auto;*/
  }
  
  .news {
    width: 210px;
  }

  .news .more {
  float: none;
  width: 230px;
  }
}

/*=== MENU ===*/
.clear {
  clear: both;
}

.navbar {
  background-color: #76944a;
  margin-bottom: 80px;
  min-height: auto !important;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 3px solid #283d0a;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #FFF;
}

.nav .active {
  background-color: #000;
}

.nav li a:hover {
  background-color: #283d0a;
}

#btn-nav {
  display: none;
  border-radius: 3px;
  /*border: 1px solid #000;*/
  color: #FFF;
  /*padding: 5px;*/
  float: right;
  cursor: pointer;
  /*margin: 5px;*/
  background-color: #283d0a;
  z-index: 999;
  position: relative;
}

/*.container {
  padding: 10px;
}*/

/*Breakpoint*/

@media only screen and  (max-width: 720px) {

  #btn-nav{
    display: block;
    float: right;
    margin: 5px;
  }

  .nav {
    display: none;
  }

  .nav li {
    float: none;
  }

}
